{% doc %}
  Renders a floating filter/sort bar fixed to the bottom of the viewport on mobile.
  Hides when the footer enters the viewport via IntersectionObserver.

  @example
  {% render 'collection-floating-bar' %}
{% enddoc %}

{%- assign sort_options = search.sort_options | default: collection.sort_options -%}
{%- assign sort_options = sort_options | reject: 'value', 'created-ascending' | reject: 'value', 'created-descending' -%}
{%- assign sort_by = search.sort_by | default: collection.sort_by -%}
{%- assign currently_selected = sort_options | where: 'value', sort_by | first -%}

{%- if currently_selected == blank and sort_options.size > 0 -%}
  {%- assign currently_selected = sort_options.first -%}
  {%- assign sort_by = currently_selected.value -%}
{%- endif -%}

<svg width="0" height="0" style="position:absolute">
  <defs>
    <clipPath id="cfb-blur-clip" clipPathUnits="objectBoundingBox">
      <path d="M0.9028 1C0.9376 1 0.9653 0.6955 0.9895 0.5706L1 0.5226V0.4776L0.9895 0.4295C0.9653 0.3045 0.9376 0 0.9028 0L0.0959 0C0.0612 0 0.0334 0.3045 0.00923 0.4294L0 0.4776V0.5225L0.00923 0.5705C0.0335 0.6955 0.0612 1 0.0959 1H0.9028V1Z"/>
    </clipPath>
  </defs>
</svg>

<div class="collection-floating-bar" data-collection-floating-bar data-availability-filter-active="{{ availability_filter_active }}">
  <div class="collection-floating-bar__inner">
    <div class="collection-floating-bar__blur" aria-hidden="true"></div>

    <svg
      class="collection-floating-bar__bg"
      viewBox="0 0 362 50"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      preserveAspectRatio="none"
    >
      <defs>
        <mask id="cfb-mask" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="362" height="50">
          <path d="M326.761 50C339.354 50 349.39 34.7756 358.149 28.529L361.5 26.1286V23.882L358.149 21.4731C349.381 15.2245 339.345 0 326.761 0L34.7301 0C22.1376 0 12.1019 15.2244 3.34241 21.471L0 23.8799V26.1265L3.34241 28.5269C12.1104 34.7734 22.1461 49.9979 34.7301 49.9979H326.761V50Z" fill="white"/>
        </mask>
        <clipPath id="cfb-clip-left"><path d="M0 0H116V50H0V0Z"/></clipPath>
        <clipPath id="cfb-clip-mid"><path d="M116 0H286V50H116V0Z"/></clipPath>
        <clipPath id="cfb-clip-right"><rect x="286" width="76" height="50"/></clipPath>
      </defs>
      <g opacity="0.7" mask="url(#cfb-mask)">
        <g>
          <rect width="116" height="50" fill="white" fill-opacity="0.7"/>
          <path d="M116 0H115V50H117V0H116Z" fill="#E5E5E5"/>
        </g>
        <g>
          <rect x="116" width="170" height="50" fill="white" fill-opacity="0.7"/>
          <path d="M286 0H285V50H287V0H286Z" fill="#E5E5E5"/>
        </g>
        <rect x="286" width="76" height="50" fill="#F9F9F9" fill-opacity="0.9"/>
      </g>
      <path d="M326.761 50C339.354 50 349.39 34.7756 358.149 28.529L361.5 26.1286V23.882L358.149 21.4731C349.381 15.2245 339.345 0 326.761 0L34.7301 0C22.1376 0 12.1019 15.2244 3.34241 21.471L0 23.8799V26.1265L3.34241 28.5269C12.1104 34.7734 22.1461 49.9979 34.7301 49.9979H326.761V50Z" fill="none" stroke="#E5E5E5" stroke-width="0.5"/>
    </svg>

    <button
      type="button"
      class="collection-floating-bar__instock{% if availability_filter_active %} is-active{% endif %}"
      data-collection-floating-bar-instock
    >
      <span>{{ 'collections.general.in_stock' | t }}</span>
    </button>

    <button
      type="button"
      class="collection-floating-bar__sort"
      data-collection-floating-bar-sort
    >
      <span class="collection-floating-bar__sort-label">{{ 'collections.general.sort' | t }}:</span>
      <span class="collection-floating-bar__sort-value" data-collection-floating-bar-sort-value>
        {{- currently_selected.name -}}
      </span>
    </button>

    <button
      type="button"
      class="collection-floating-bar__filter"
      data-collection-floating-bar-filter
    >
      {%- render 'icon-filter' -%}
      <span>{{ 'collections.general.filters' | t }}</span>
    </button>
  </div>

  <div class="collection-floating-bar__sort-sidebar" data-sort-sidebar>
    <div class="collection-floating-bar__sort-sidebar__head">
      <h3>{{ 'collections.general.sort' | t }}</h3>
      <a
        href="#"
        class="collection-floating-bar__sort-sidebar__close"
        data-sort-sidebar-close
        aria-label="Close"
      >
        {%- render 'icon-close' -%}
      </a>
    </div>
    <div class="collection-floating-bar__sort-sidebar__body">
      <ul class="collection-floating-bar__sort-list">
        {%- for option in sort_options -%}
          <li class="collection-floating-bar__sort-item{% if sort_by == option.value %} is-active{% endif %}">
            <a
              href="#"
              data-sort-sidebar-option
              data-value="{{ option.value }}"
              {% if sort_by == option.value %}
                aria-current="true"
              {% endif %}
            >
              {{ option.name }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  <div class="collection-floating-bar__sort-overlay" data-sort-sidebar-close></div>
</div>
