<!doctype html>
<html class="no-touch supports-no-cookies {{ request.locale.iso_code }}" lang="{{ request.locale.iso_code }}">
  <head>  
    {%- render 'head' -%}

    {{ content_for_header }}
    {% include 'iub-cookie-banner' %}
    {%- render 'geo-country-hide' -%}
        {%- comment -%}

      <meta name="google-site-verification" content="xe1Nd6JTqg6GK_irtDqOeiLNAfoMMWGt_ZZWl_9m_xo" />
          {%- endcomment -%}
           
      <meta name="google-site-verification" content="bdybvdl_VIiAmW5jidwRvWO--uDOG8FBu9FMBdFgK1A" /> 
    </head>

  <body
    id="{{ page.handle | default: template.name | handle }}"
    class="template-{{ template.name | handle }} grid-{{ settings.grid_style }}{% if customer %} customer-logged-in{% endif %}{% if settings.animations_enable %} aos-initialized{% endif %}{% if settings.product_grid_outline %} has-line-design{% endif %}{% unless settings.btn_hover_slide %} btn-hover--instant{% endunless %}"
    data-animations="{{ settings.animations_enable }}"
    data-rc-animations="{{ settings.rc_animations_enable }}"
  >
    {% render 'page-transition' %}
    {%- render 'loading' -%}

    <a class="in-page-link visually-hidden skip-link" data-skip-content href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    <div class="container" data-site-container>
      <div class="header-sections">
        {% sections 'group-header' %}
      </div>
      {% sections 'group-overlay' %}

      <!-- CONTENT -->
      <main
        role="main"
        id="MainContent"
        class="main-content main-content--{{ template.name | handle }}{% if template.suffix != blank %} main-content--{{ template.name | handle }}-{{ template.suffix | handle }}{% endif %}"
      >
        {{ content_for_layout }}
      </main>
    </div>

    {% sections 'group-pre-footer' %}

    <footer class="footer-sections">
      {% sections 'group-footer' %}
    </footer>

    {% render 'zoom-pswp' %}

    {%- if template.name != 'product' and settings.show_scroll_top_button -%}
      <button
        type="button"
        class="btn btn--scroll-top btn--black btn--solid"
        aria-label="{{ 'general.accessibility.scroll_to_top' | t }}"
        data-scroll-top-button
      >
        {%- render 'icon-nav-arrow-up' -%}
      </button>
    {%- endif -%}

    {%- comment -%}
      In order to use your custom javascript file at assets/custom.js
      just cut this next line and paste it outside this comment:
      <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
    {%- endcomment -%}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" async></script>

    {%- comment -%} Global drawers {%- endcomment -%}
    <side-drawer
      class="drawer drawer--padded"
      data-drawer="ask-concierge"
      id="side-drawer-ask-concierge"
      data-drawer-size="30%"
      data-drawer-direction="right-to-left"
    >
      <div class="drawer__inner" data-drawer-inner>
        <button class="drawer__close" data-drawer-close aria-label="{{ 'general.accessibility.close' | t }}">
          {% render 'icon-close' %}
        </button>

        <div class="drawer__body">
          {% render 'drawer-ask-concierge' %}
        </div>
      </div>
      <span class="underlay drawer__underlay" data-drawer-underlay></span>
    </side-drawer>

    <side-drawer
      class="drawer"
      data-drawer="care-recommendations"
      id="side-drawer-care-recommendations"
      data-drawer-size="575px"
      data-drawer-direction="right-to-left"
    >
      <div class="drawer__inner" data-drawer-inner>
        <button class="drawer__close" data-drawer-close aria-label="{{ 'general.accessibility.close' | t }}">
          {% render 'icon-close' %}
        </button>

        <div class="drawer__body">
          {% render 'drawer-care-recommendations' %}
        </div>
      </div>
      <span class="underlay drawer__underlay" data-drawer-underlay></span>
    </side-drawer>
  </body>
</html>
