<!-- /sections/homepage-product-sliders.liquid -->
{{ 'homepage-product-sliders.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign animation_anchor = '#HomepageProductSliders--' | append: section.id
  assign color_scheme = 'color-' | append: section.settings.color_scheme
  assign section_title = section.settings.title | strip
  assign limit = section.settings.limit
  assign related_category_limit = limit
  assign columns_mobile = 1
  assign columns_desktop = 4
  assign columns_medium = 3
  assign columns_small = 2
  assign column_count = 4
  assign rendered_tab_count = 0

  if related_category_limit <= 4
    assign related_category_limit = 10
  endif
-%}

{%- capture tabs_markup -%}{%- endcapture -%}
{%- capture contents_markup -%}{%- endcapture -%}

{%- for block in section.blocks -%}
  {%- if block.type == 'product_list_tab' or block.type == 'collection_tab' -%}
    {%- liquid
      assign tab_products_count = 0
      assign selected_collection = block.settings.collection
      assign view_all_url = blank
      assign tab_heading = blank
      assign tab_products_limit = related_category_limit

      if block.type == 'collection_tab' and selected_collection != blank
        assign view_all_url = selected_collection.url
        assign tab_heading = selected_collection.title
        assign tab_products_limit = tab_products_limit | at_most: 10
      endif

      if block.type == 'collection_tab' and tab_heading == blank
        assign tab_heading = 'Collection'
      endif

      if block.type == 'product_list_tab'
        assign tab_heading = block.settings.tab_heading | strip
        if block.settings.view_all_url != blank
          assign view_all_url = block.settings.view_all_url
        endif
      endif

      if block.type == 'product_list_tab' and tab_heading == blank
        assign tab_heading = 'Products'
      endif
    -%}

    {%- capture tab_products -%}
      {%- if block.type == 'product_list_tab' -%}
        {%- for selected_product in block.settings.product_list -%}
          {%- liquid
            assign hidden_product = false
            assign excluded_product = false
            assign product_type = selected_product.type | strip | downcase
            if selected_product.tags contains 'hide'
              assign hidden_product = true
            endif

            if product_type == 'storytelling'
              assign excluded_product = true
            endif
          -%}

          {%- if hidden_product == false -%}
            {%- if excluded_product == false -%}
              {%- if tab_products_count < tab_products_limit -%}
                {%- assign tab_products_count = tab_products_count | plus: 1 -%}
                {%- render 'product-grid-item',
                  product: selected_product,
                  animation_delay: forloop.index0 | times: 1,
                  animation_anchor: '#HomepageProductSlidersTab--' | append: section.id | append: '-' | append: rendered_tab_count,
                  index: forloop.index
                -%}
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}

      {%- if block.type == 'collection_tab' and selected_collection != blank -%}
        {%- for selected_product in selected_collection.products -%}
          {%- liquid
            assign hidden_product = false
            assign excluded_product = false
            assign product_type = selected_product.type | strip | downcase
            if selected_product.tags contains 'hide'
              assign hidden_product = true
            endif

            if product_type == 'storytelling'
              assign excluded_product = true
            endif
          -%}

          {%- if hidden_product == false -%}
            {%- if excluded_product == false -%}
              {%- if tab_products_count < tab_products_limit -%}
                {%- assign tab_products_count = tab_products_count | plus: 1 -%}
                {%- render 'product-grid-item',
                  product: selected_product,
                  animation_delay: forloop.index0 | times: 1,
                  animation_anchor: '#HomepageProductSlidersTab--' | append: section.id | append: '-' | append: rendered_tab_count,
                  index: forloop.index
                -%}
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endcapture -%}

    {%- if tab_products_count > 0 -%}
      {%- capture tabs_markup -%}
        {{ tabs_markup }}
        <li class="tab-link-item{% if rendered_tab_count == 0 %} selected{% endif %}">
          <button
            class="tab-link tab-link-{{ rendered_tab_count }}{% if rendered_tab_count == 0 %} current{% endif %}"
            data-tab="{{ rendered_tab_count }}"
            type="button"
          >
            <span class="button homepage-product-sliders__tab-title">{{ tab_heading | escape }}</span>
          </button>
          {%- if view_all_url != blank -%}
            <a class="navlink tab-link__view-all" href="{{ view_all_url }}">VIEW ALL</a>
          {%- endif -%}
        </li>
      {%- endcapture -%}

      {%- capture contents_markup -%}
        {{ contents_markup }}
        <div
          class="tab-content tab-content-{{ rendered_tab_count }} tabs__recommendation{% if rendered_tab_count == 0 %} current{% endif %}"
          data-tab-index="{{ rendered_tab_count }}"
          {{ block.shopify_attributes }}
        >
          <div class="grid-outer" style="--column-count: {{ column_count }}; --COLUMNS: {{ columns_desktop }}; --COLUMNS-MEDIUM: {{ columns_medium }}; --COLUMNS-SMALL: {{ columns_small }}; --COLUMNS-MOBILE: {{ columns_mobile }};">
            <grid-slider>
              <div
                class="grid grid--slider{% if tab_products_count <= 4 %} grid--slider-disabled{% endif %} grid--mobile-slider"
                data-grid-slider
                id="HomepageProductSlidersTab--{{ section.id }}-{{ rendered_tab_count }}"
              >
                {{ tab_products }}
              </div>
            </grid-slider>
          </div>
        </div>
      {%- endcapture -%}

      {%- assign rendered_tab_count = rendered_tab_count | plus: 1 -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- capture style -%}
  --bg-color: {{ section.settings.background_color }};
  --PT: {{ section.settings.padding_top }}px;
  --PB: {{ section.settings.padding_bottom }}px;
  --homepage-product-sliders-head-direction: {{ section.settings.header_direction }};
  --homepage-product-sliders-tabs-justify: {% if section.settings.header_direction == 'row-reverse' %}flex-start{% else %}flex-end{% endif %};
{%- endcapture -%}

<section
  class="homepage-product-sliders {{ color_scheme }}"
  id="HomepageProductSliders--{{ section.id }}"
  style="{{ style | strip }}"
  data-section-id="{{ section.id }}"
  data-section-type="homepage-product-sliders"
>
  {%- if rendered_tab_count > 0 -%}
    <tabs-component class="tabs-wrapper related__products">
      <div
        class="tabs__head"
        data-aos="hero"
        data-aos-anchor="{{ animation_anchor }}"
        data-aos-order="1"
      >
        <div class="grid__heading-holder wrapper">
          <div class="homepage-product-sliders__head">
            {%- if section_title != blank -%}
              <h2 class="homepage-product-sliders__title h6">{{ section_title | escape }}</h2>
            {%- endif -%}

            <native-scrollbar class="grid__heading-actions homepage-product-sliders__tabs-scroll">
              <ul class="tabs">
                {{ tabs_markup }}
              </ul>
            </native-scrollbar>
          </div>
        </div>
      </div>

      {{ contents_markup }}
    </tabs-component>
  {%- else -%}
    <div class="section-padding">
      <p class="center">{{ 'home_page.onboarding.no_content' | t }}</p>
    </div>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Homepage product sliders",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title",
      "default": "Our best sellers"
    },
    {
      "type": "range",
      "id": "limit",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Product limit",
      "default": 4
    },
    {
      "type": "select",
      "id": "header_direction",
      "label": "Header direction",
      "default": "row",
      "options": [
        {"value": "row", "label": "Title left"},
        {"value": "row-reverse", "label": "Title right"}
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#F9F9F9"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Bottom",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "product_list_tab",
      "name": "Product list tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_heading",
          "label": "Tab heading",
          "default": "Products"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "Products"
        },
        {
          "type": "url",
          "id": "view_all_url",
          "label": "View all link"
        }
      ]
    },
    {
      "type": "collection_tab",
      "name": "Collection tab",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Homepage product sliders",
      "blocks": [
        {
          "type": "product_list_tab",
          "settings": {
            "tab_heading": "Featured products"
          }
        }
      ]
    }
  ]
}
{% endschema %}
