{{ 'roberto-coin-story.css' | asset_url | stylesheet_tag }}
<script src="{{ 'roberto-coin-story.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign section_id = 'rc-story-' | append: section.id
  assign history_id = section_id | append: '-history'
  assign creator_id = section_id | append: '-creator'
  assign ruby_id = section_id | append: '-ruby'
  assign timeline_id = section_id | append: '-timeline'
-%}

<section
  id="{{ section_id }}"
  class="rc-story"
  style="
    --bg: {{ section.settings.background_color }};
    --bg-soft: {{ section.settings.background_soft_color }};
    --bg-glow: {{ section.settings.background_glow_color }};
    --text: {{ section.settings.text_color }};
    --muted: {{ section.settings.text_color | color_modify: 'alpha', 0.62 }};
    --dim: {{ section.settings.text_color | color_modify: 'alpha', 0.34 }};
    --accent: {{ section.settings.accent_color }};
    --accent-soft: {{ section.settings.accent_color | color_modify: 'alpha', 0.35 }};
    --logo-color: {{ section.settings.logo_color }};
    --today-color: {{ section.settings.today_color }};
    --active-year-color: {{ section.settings.active_year_color }};
    --year-size: {{ section.settings.year_size }}px;
    --copy-size: {{ section.settings.caption_size }}px;
    --panel-height: {{ section.settings.panel_height }}vh;
  "
  data-section-id="{{ section.id }}"
>
  <div class="page-shell">
    <aside class="site-nav site-nav-left" aria-label="Primary">
      <button class="search-toggle" aria-label="Search">
        <span class="search-icon"></span>
      </button>
      <nav>
        <a href="{{ section.settings.left_link_1_url }}">{{ section.settings.left_link_1_label }}</a>
        <a href="{{ section.settings.left_link_2_url }}">{{ section.settings.left_link_2_label }}</a>
        <a href="{{ section.settings.left_link_3_url }}">{{ section.settings.left_link_3_label }}</a>
        <a href="{{ section.settings.left_link_4_url }}">{{ section.settings.left_link_4_label }}</a>
      </nav>
    </aside>

    <aside class="site-nav site-nav-right" aria-label="Utility">
      <nav>
        <a href="{{ section.settings.right_link_1_url }}">{{ section.settings.right_link_1_label }}</a>
        <a href="{{ section.settings.right_link_2_url }}">{{ section.settings.right_link_2_label }}</a>
        <a href="{{ section.settings.right_link_3_url }}">{{ section.settings.right_link_3_label }}</a>
        <a href="{{ section.settings.right_link_4_url }}">{{ section.settings.right_link_4_label }}</a>
      </nav>
      <a class="bag-link" href="{{ section.settings.bag_link_url }}" aria-label="Shopping bag">
        <span class="bag-icon"></span>
        <span class="bag-count">{{ section.settings.bag_count }}</span>
      </a>
    </aside>

    <main>
      <section class="hero" id="{{ section_id }}-top">
        <header class="brand-header">
          <div class="brand-logo" aria-label="Roberto Coin">
            <svg width="814" height="76" viewBox="0 0 814 76" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_5975_3294)">
                <path d="M583.434 0.939453C591.581 0.939453 600.78 2.92969 606.803 6.42937L605.391 25.9404H603.854C600.554 11.1031 591.694 3.39929 583.434 1.53205V0.950634V0.939453Z" fill="black"/>
                <path d="M317.023 2.33728V1.75586C331.895 1.75586 341.455 8.062 341.455 20.3277C341.455 28.501 332.607 36.5626 321.747 38.3069V37.6025C326.584 34.3264 329.533 27.4388 329.533 19.7351C329.533 12.0313 326.109 3.96972 317.023 2.33728Z" fill="black"/>
                <path d="M249.625 1.75586H272.644L272.17 21.9601H270.633C266.858 9.58263 261.66 6.08294 256.349 4.56231L249.625 2.57208V1.75586Z" fill="black"/>
                <path d="M269.098 41.8062L250.215 36.2045V35.6231L267.798 31.7656L269.098 41.8062Z" fill="black"/>
                <path d="M29.2422 1.75586C44.1137 1.75586 53.674 8.062 53.674 20.3277C53.674 28.501 44.8256 36.5626 33.9658 38.3069V37.6025C38.8025 34.3264 41.7519 27.4388 41.7519 19.7351C41.7519 12.0313 38.3278 3.96972 29.2422 2.33728V1.75586Z" fill="black"/>
                <path d="M26.5309 73.8063H-0.5V72.4087L1.86181 71.3576C6.23513 69.3674 7.6477 67.9698 7.6477 62.4799V13.0818C7.6477 7.59185 6.23513 6.19422 1.86181 4.20398L-0.5 3.15296V1.74414H20.9823V2.32556L18.3832 3.958V35.4887L22.6322 38.0603V38.6418L18.3832 40.632V62.4687C18.3832 67.9586 19.7958 69.3562 24.1691 71.3465L26.5309 72.3975V73.7951V73.8063Z" fill="black"/>
                <path d="M64.8861 69.7251C62.0497 72.7664 58.3996 74.7455 55.0885 74.7455C50.0146 74.7455 47.0651 71.4806 40.0927 58.3987L32.5439 44.154C31.4817 42.0519 29.8318 40.5313 27.8203 39.2455V38.6641C37.8552 39.2455 43.4038 42.7452 45.8786 47.0722L56.2638 65.4092C58.3883 69.1437 59.8009 69.7251 64.8748 69.1437V69.7251H64.8861Z" fill="black"/>
                <path d="M101.602 1.75519C90.1545 4.79645 82.0068 19.276 82.0068 36.9086C82.0068 56.1736 90.1545 71.4805 101.602 73.9292V74.6336C82.8317 73.2359 69.7344 57.6942 69.7344 36.9086C69.7344 18.9182 82.843 4.20385 101.602 1.05078V1.75519Z" fill="black"/>
                <path d="M113.523 74.6219V73.9174C124.971 71.4688 133.119 56.1619 133.119 36.8968C133.119 19.2642 124.971 4.78473 113.523 1.74347V1.03906C132.294 4.19213 145.391 18.9065 145.391 36.8968C145.391 57.6825 132.294 73.213 113.523 74.6219Z" fill="black"/>
                <path d="M177.968 36.0813L173.719 38.0715V71.4695L176.793 73.2249V73.8063H154.836V72.4087L157.198 71.3576C161.56 69.3674 162.984 67.9698 162.984 62.4799L163.097 13.0818C163.097 7.59185 161.684 6.19422 157.311 4.20398L154.949 3.15296V1.74414H176.782V2.32556L173.708 4.08099V32.9282L177.957 35.4999V36.0813H177.968Z" fill="black"/>
                <path d="M184.465 73.8068H180.578V73.2254C197.811 70.542 200.885 65.2868 200.885 53.4908C200.885 41.6947 194.749 38.1951 183.302 36.3278L181.889 36.093L182.126 35.5116C184.251 35.3886 185.901 35.1538 187.2 35.042C191.8 32.0119 194.76 25.5828 194.76 18.5834C194.76 11.1033 191.336 3.9809 182.251 2.46027V1.75586C197.122 1.75586 206.682 7.59239 206.682 19.0418C206.682 26.1642 199.721 32.4703 190.986 34.6842H191.461C204.321 34.6842 212.706 43.9086 212.706 52.4398C212.706 66.5727 202.671 73.8068 184.499 73.8068" fill="black"/>
                <path d="M245.488 36.5509L241.239 38.5411V71.4806L244.301 73.2361V73.8175H222.469V72.4198L224.831 71.3688C229.204 69.3786 230.616 67.9809 230.616 62.491V13.0818C230.616 7.59185 229.204 6.19422 224.831 4.20398L222.469 3.15296V1.74414H244.301V2.32556L241.239 4.08099V33.3866L245.488 35.9583V36.5397V36.5509Z" fill="black"/>
                <path d="M274.882 73.8056H249.625V72.9893L259.536 71.2339C264.734 70.2947 270.034 64.9278 274.17 52.6621H275.707L274.882 73.7944V73.8056Z" fill="black"/>
                <path d="M314.308 73.8063H287.277V72.4087L289.639 71.3576C294.012 69.3674 295.425 67.9698 295.425 62.4799V13.0818C295.425 7.59185 294.012 6.19422 289.639 4.20398L287.277 3.15296V1.74414H308.76V2.32556L306.161 3.958V35.4887L310.41 38.0603V38.6418L306.161 40.632V62.4687C306.161 67.9586 307.573 69.3562 311.946 71.3465L314.308 72.3975V73.7951V73.8063Z" fill="black"/>
                <path d="M352.664 69.7251C349.827 72.7664 346.177 74.7455 342.866 74.7455C337.792 74.7455 334.843 71.4806 327.882 58.3987L320.333 44.154C319.271 42.0519 317.621 40.5313 315.609 39.2455V38.6641C325.644 39.2455 331.193 42.7452 333.668 47.0722L344.053 65.4092C346.177 69.1437 347.59 69.7251 352.664 69.1437V69.7251Z" fill="black"/>
                <path d="M358.689 21.9597L357.152 21.8367L357.864 0L375.448 1.75543V2.33685L372.736 3.49968C366.713 5.94834 362.588 11.7961 358.689 21.9485" fill="black"/>
                <path d="M405.551 73.8068H373.797V72.4092L376.159 71.3582C381.583 68.9095 384.306 67.2659 384.306 61.7872L384.193 4.32751L380.656 2.33728V1.75586H398.602V2.33728L395.053 4.32751V61.7872C395.053 67.2771 397.765 68.9095 403.201 71.3582L405.563 72.4092V73.8068H405.551Z" fill="black"/>
                <path d="M420.423 21.9597C416.061 9.80582 411.451 5.72472 406.738 3.62268L403.789 2.33685V1.75543L421.373 0L421.96 21.8367L420.423 21.9597Z" fill="black"/>
                <path d="M460.551 1.75519C449.104 4.79645 440.956 19.276 440.956 36.9086C440.956 56.1736 449.104 71.4805 460.551 73.9292V74.6336C441.781 73.2359 428.684 57.6942 428.684 36.9086C428.684 18.9182 441.792 4.20385 460.551 1.05078V1.75519Z" fill="black"/>
                <path d="M472.473 74.6219V73.9174C483.92 71.4688 492.068 56.1619 492.068 36.8968C492.068 19.2642 483.92 4.78473 472.473 1.74347V1.03906C491.243 4.19213 504.34 18.9065 504.34 36.8968C504.34 57.6825 491.243 73.213 472.473 74.6219Z" fill="black"/>
                <path d="M575.172 1.75519C563.725 4.79645 555.577 19.276 555.577 36.9086C555.577 56.1736 563.725 71.4805 575.172 73.9292V74.6336C556.402 73.2359 543.305 57.6942 543.305 36.9086C543.305 18.9182 556.402 4.20385 575.172 1.05078V1.75519Z" fill="black"/>
                <path d="M583.433 74.6235V74.0421C594.881 71.5934 600.78 63.5318 603.966 49.2871H605.503L606.916 69.0217C600.893 72.5214 591.57 74.6235 583.422 74.6235" fill="black"/>
                <path d="M648.704 1.75519C637.256 4.79645 629.108 19.276 629.108 36.9086C629.108 56.1736 637.256 71.4805 648.704 73.9292V74.6336C629.933 73.2359 616.836 57.6942 616.836 36.9086C616.836 18.9182 629.933 4.20385 648.704 1.05078V1.75519Z" fill="black"/>
                <path d="M660.629 74.6219V73.9174C672.076 71.4688 680.224 56.1619 680.224 36.8968C680.224 19.2642 672.076 4.78473 660.629 1.74347V1.03906C679.399 4.19213 692.496 18.9065 692.496 36.8968C692.496 57.6825 679.399 73.213 660.629 74.6219Z" fill="black"/>
                <path d="M728.035 73.8063H701.953V72.4087L704.315 71.3576C708.677 69.3674 710.214 67.9698 710.214 62.4799V13.0818C710.214 7.59185 708.801 6.19422 704.428 4.20398L702.066 3.15296V1.74414H727.911V3.15296L725.549 4.20398C721.187 6.19422 719.763 7.59185 719.763 13.0818V62.4799C719.763 67.9698 721.3 69.3674 725.662 71.3576L728.023 72.4087V73.8063H728.035Z" fill="black"/>
                <path d="M758.129 73.8065H740.184V72.4088L741.72 71.5926C746.681 69.021 747.981 66.8071 747.981 62.2452V25.2246H750.343V62.2452C750.343 66.7959 751.642 69.021 756.603 71.5926L758.14 72.4088V73.8065H758.129Z" fill="black"/>
                <path d="M814.313 3.15296L812.776 3.96918C807.815 6.54083 806.527 8.75469 806.527 13.3166V75.0921H805.578L748.691 12.1426L737.594 2.33674V1.75532H754.115L804.154 58.2758V13.3166C804.154 8.76587 802.854 6.54083 797.893 3.96918L796.357 3.15296V1.74414H814.302V3.15296H814.313Z" fill="black"/>
              </g>
              <defs>
                <clipPath id="clip0_5975_3294">
                  <rect width="814" height="75.0923" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </div>
        </header>

        <div class="hero-center">
          <div class="hero-collage" aria-hidden="true">
            <figure class="hero-collage__item hero-collage__item--top">
              {% if section.settings.hero_image_top != blank %}
                <img src="{{ section.settings.hero_image_top | image_url: width: 1400 }}" alt="{{ section.settings.hero_image_top.alt | escape }}">
              {% endif %}
            </figure>
            <figure class="hero-collage__item hero-collage__item--right">
              {% if section.settings.hero_image_right != blank %}
                <img src="{{ section.settings.hero_image_right | image_url: width: 1800 }}" alt="{{ section.settings.hero_image_right.alt | escape }}">
              {% endif %}
            </figure>
            <figure class="hero-collage__item hero-collage__item--left">
              {% if section.settings.hero_image_left != blank %}
                <img src="{{ section.settings.hero_image_left | image_url: width: 1800 }}" alt="{{ section.settings.hero_image_left.alt | escape }}">
              {% endif %}
            </figure>
            <figure class="hero-collage__item hero-collage__item--bottom">
              {% if section.settings.hero_image_bottom != blank %}
                <img src="{{ section.settings.hero_image_bottom | image_url: width: 1800 }}" alt="{{ section.settings.hero_image_bottom.alt | escape }}">
              {% endif %}
            </figure>
          </div>

          <div class="hero-copy">
            <p class="eyebrow">{{ section.settings.hero_eyebrow }}</p>
            <h2>{{ section.settings.hero_title }}</h2>
          </div>

          <a class="scroll-link" href="#{{ timeline_id }}">{{ section.settings.scroll_text }}</a>
        </div>
      </section>

      <section id="{{ history_id }}" class="history">
        <div class="history__inner">
          <div class="history__left">
            <h2 class="history__title">{{ section.settings.history_title }}</h2>
            <p>{{ section.settings.history_left_copy }}</p>
          </div>

          <div class="history__center">
            {% if section.settings.history_ring_drawing != blank %}
              <img class="history__ring history__ring--drawing" src="{{ section.settings.history_ring_drawing | image_url: width: 2200 }}" alt="{{ section.settings.history_ring_drawing.alt | escape }}">
            {% endif %}
            {% if section.settings.history_ring_photo != blank %}
              <img class="history__ring history__ring--photo" src="{{ section.settings.history_ring_photo | image_url: width: 2200 }}" alt="{{ section.settings.history_ring_photo.alt | escape }}">
            {% endif %}
          </div>

          <div class="history__right">
            <p>{{ section.settings.history_right_copy }}</p>
          </div>
        </div>
      </section>

      <section id="{{ creator_id }}" class="creator">
        <div class="creator__inner">
          <div class="creator__image reveal-up">
            {% if section.settings.creator_image != blank %}
              <img src="{{ section.settings.creator_image | image_url: width: 1800 }}" alt="{{ section.settings.creator_image.alt | escape }}">
            {% endif %}
          </div>
          <div class="creator__text reveal-up reveal-up--delay-1">
            <h2 class="creator__title">{{ section.settings.creator_title }}</h2>
            <div class="creator__body reveal-up reveal-up--delay-2">
              <p>{{ section.settings.creator_copy_1 }}</p>
              <p>{{ section.settings.creator_copy_2 }}</p>
            </div>
          </div>
        </div>
        {% if section.settings.creator_drawing != blank %}
          <img class="creator__vicenza reveal-up reveal-up--delay-3" src="{{ section.settings.creator_drawing | image_url: width: 2200 }}" alt="{{ section.settings.creator_drawing.alt | escape }}">
        {% endif %}
      </section>

      <section id="{{ ruby_id }}" class="ruby-section">
        {% if section.settings.ruby_background != blank %}
          <div class="ruby-section__bg" style="background-image: url('{{ section.settings.ruby_background | image_url: width: 2400 }}');"></div>
        {% else %}
          <div class="ruby-section__bg"></div>
        {% endif %}
        <div class="ruby-section__overlay"></div>
        <div class="ruby-section__inner">
          <div class="ruby-section__content">
            <h2 class="ruby-section__title">{{ section.settings.ruby_title }}</h2>
            <div class="ruby-section__body">
              {{ section.settings.ruby_copy }}
            </div>
          </div>
          <div class="ruby-section__gem">
            {% if section.settings.ruby_gem_image != blank %}
              <img src="{{ section.settings.ruby_gem_image | image_url: width: 1600 }}" alt="{{ section.settings.ruby_gem_image.alt | escape }}">
            {% endif %}
          </div>
        </div>
      </section>

      <section class="timeline" id="{{ timeline_id }}" aria-label="{{ section.settings.timeline_aria_label | escape }}">
        <div class="timeline-stage" data-stage>
          <div class="timeline-panel">
            <div class="media-layout" data-media-layout></div>
            <div class="timeline-caption" data-timeline-caption>
              <p data-caption-line-one></p>
              <p data-caption-line-two></p>
            </div>
          </div>
          <div class="year-rail" aria-label="{{ section.settings.year_rail_aria_label | escape }}" data-year-rail></div>
        </div>
        <div class="timeline-markers" data-timeline-markers></div>
      </section>
    </main>

    <nav class="section-nav" aria-label="Page sections">
      <div class="section-nav__shape">
        <svg class="nav-bg" viewBox="0 0 814 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M34.7305 1H778.762C784.657 1.00012 790.067 4.57408 795.223 9.1416C797.788 11.4147 800.23 13.8755 802.618 16.1982C804.986 18.5016 807.305 20.6729 809.565 22.2842V22.2852L812.5 24.3945V25.6143L809.566 27.7158C807.308 29.3267 804.99 31.4991 802.623 33.8027C800.236 36.1251 797.795 38.5855 795.229 40.8584C790.103 45.3997 784.723 48.9576 778.862 48.998H34.7305C28.8352 48.998 23.4245 45.4239 18.2686 40.8564C15.7027 38.5835 13.2608 36.1233 10.873 33.8008C8.65216 31.6406 6.47441 29.596 4.34766 28.0215L3.92285 27.7129L1 25.6133V24.3916L3.92285 22.2852C6.18196 20.6742 8.50119 18.5016 10.8691 16.1973C13.2555 13.875 15.6961 11.4144 18.2617 9.1416C23.4175 4.57429 28.8308 1 34.7305 1Z" fill="#27574D" fill-opacity="0.6"/>
          <path class="nav-highlight" d="M1 25.61 L3.92 27.71 L4.35 28.02 C6.47 29.6,8.65 31.64,10.87 33.8 C13.26 36.12,15.7 38.58,18.27 40.86 C23.42 45.4,28.84 49,34.73 49 H193 V1 H34.73 C28.83 1,23.42 4.57,18.26 9.14 C15.7 11.41,13.26 13.88,10.87 16.2 C8.5 18.5,6.18 20.67,3.92 22.28 L1 24.39 Z" fill="#3F625B" fill-opacity="0.72"/>
          <path class="nav-highlight" d="M193 1 H407 V49 H193 Z" fill="#3F625B" fill-opacity="0.72"/>
          <path class="nav-highlight" d="M407 1 H611 V49 H407 Z" fill="#3F625B" fill-opacity="0.72"/>
          <path class="nav-highlight" d="M611 1 H778.76 C784.66 1,790.07 4.57,795.22 9.14 C797.79 11.41,800.23 13.88,802.62 16.2 C804.99 18.5,807.31 20.67,809.57 22.28 L812.5 24.39 V25.61 L809.57 27.72 C807.31 29.33,804.99 31.5,802.62 33.8 C800.24 36.12,797.8 38.58,795.23 40.86 C790.1 45.4,784.72 49,778.86 49 H611 Z" fill="#3F625B" fill-opacity="0.72"/>
          <path d="M34.7305 1H778.762C784.657 1.00012 790.067 4.57408 795.223 9.1416C797.788 11.4147 800.23 13.8755 802.618 16.1982C804.986 18.5016 807.305 20.6729 809.565 22.2842V22.2852L812.5 24.3945V25.6143L809.566 27.7158C807.308 29.3267 804.99 31.4991 802.623 33.8027C800.236 36.1251 797.795 38.5855 795.229 40.8584C790.103 45.3997 784.723 48.9576 778.862 48.998H34.7305C28.8352 48.998 23.4245 45.4239 18.2686 40.8564C15.7027 38.5835 13.2608 36.1233 10.873 33.8008C8.65216 31.6406 6.47441 29.596 4.34766 28.0215L3.92285 27.7129L1 25.6133V24.3916L3.92285 22.2852C6.18196 20.6742 8.50119 18.5016 10.8691 16.1973C13.2555 13.875 15.6961 11.4144 18.2617 9.1416C23.4175 4.57429 28.8308 1 34.7305 1Z" fill="none" stroke="#27574D" stroke-width="2"/>
          <line x1="193" y1="4" x2="193" y2="46" stroke="#27574D" stroke-width="1.5" stroke-opacity="0.8"/>
          <line x1="407" y1="4" x2="407" y2="46" stroke="#27574D" stroke-width="1.5" stroke-opacity="0.8"/>
          <line x1="611" y1="4" x2="611" y2="46" stroke="#27574D" stroke-width="1.5" stroke-opacity="0.8"/>
        </svg>
        <div class="section-nav__tabs">
          <a class="section-nav__tab" data-idx="0" data-section="{{ history_id }}" href="#{{ history_id }}">{{ section.settings.section_nav_history }}</a>
          <a class="section-nav__tab" data-idx="1" data-section="{{ creator_id }}" href="#{{ creator_id }}">{{ section.settings.section_nav_creator }}</a>
          <a class="section-nav__tab" data-idx="2" data-section="{{ ruby_id }}" href="#{{ ruby_id }}">{{ section.settings.section_nav_ruby }}</a>
          <a class="section-nav__tab" data-idx="3" data-section="{{ timeline_id }}" href="#{{ timeline_id }}">{{ section.settings.section_nav_timeline }}</a>
        </div>
      </div>
    </nav>

    <template data-media-card-template>
      <article class="media-card">
        <div class="media-art"></div>
      </article>
    </template>

    <script type="application/json" data-timeline-data>
      [
        {% for block in section.blocks %}
          {
            "id": {{ block.id | json }},
            "year": {{ block.settings.year | default: '1977' | json }},
            "title": {{ block.settings.title | default: 'Milestone' | json }},
            "copy": {{ block.settings.copy | strip_html | strip_newlines | default: block.settings.title | default: block.settings.year | json }},
            "media": [
              {
                "label": {{ block.settings.media_1_label | default: 'Media 1' | json }},
                "image": {% if block.settings.media_1_image != blank %}{{ block.settings.media_1_image | image_url: width: 2200 | json }}{% else %}null{% endif %},
                "fill": {{ block.settings.media_1_fill | default: 'linear-gradient(135deg, #5f5a71 0%, #241f29 65%, #0d0d12 100%)' | json }},
                "x": {{ block.settings.media_1_x | default: 0 | json }},
                "y": {{ block.settings.media_1_y | default: 18 | json }},
                "w": {{ block.settings.media_1_w | default: 36 | json }},
                "h": {{ block.settings.media_1_h | default: 46 | json }}
              },
              {
                "label": {{ block.settings.media_2_label | default: 'Media 2' | json }},
                "image": {% if block.settings.media_2_image != blank %}{{ block.settings.media_2_image | image_url: width: 2200 | json }}{% else %}null{% endif %},
                "fill": {{ block.settings.media_2_fill | default: 'linear-gradient(180deg, #d8d8d5 0%, #8f8e88 50%, #4e4d4a 100%)' | json }},
                "x": {{ block.settings.media_2_x | default: 43 | json }},
                "y": {{ block.settings.media_2_y | default: 0 | json }},
                "w": {{ block.settings.media_2_w | default: 24 | json }},
                "h": {{ block.settings.media_2_h | default: 58 | json }}
              },
              {
                "label": {{ block.settings.media_3_label | default: 'Media 3' | json }},
                "image": {% if block.settings.media_3_image != blank %}{{ block.settings.media_3_image | image_url: width: 2200 | json }}{% else %}null{% endif %},
                "fill": {{ block.settings.media_3_fill | default: 'linear-gradient(135deg, #ceb78c 0%, #89683f 50%, #20150f 100%)' | json }},
                "x": {{ block.settings.media_3_x | default: 74 | json }},
                "y": {{ block.settings.media_3_y | default: 8 | json }},
                "w": {{ block.settings.media_3_w | default: 18 | json }},
                "h": {{ block.settings.media_3_h | default: 26 | json }}
              }
            ]
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    </script>

    <div class="visually-hidden" aria-hidden="true">
      {% for block in section.blocks %}
        <div data-block-id="{{ block.id }}" {{ block.shopify_attributes }}></div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Roberto Coin timeline",
  "tag": "section",
  "class": "section",
  "settings": [
    { "type": "header", "content": "Theme" },
    { "type": "color", "id": "background_color", "label": "Background color", "default": "#f9f9f9" },
    { "type": "color", "id": "background_soft_color", "label": "Background soft color", "default": "#f1f1f1" },
    { "type": "color", "id": "background_glow_color", "label": "Background glow color", "default": "#e7e7e7" },
    { "type": "color", "id": "text_color", "label": "Text color", "default": "#1f2f2b" },
    { "type": "color", "id": "accent_color", "label": "Accent color", "default": "#397e70" },
    { "type": "color", "id": "logo_color", "label": "Logo color", "default": "#000000" },
    { "type": "color", "id": "active_year_color", "label": "Active year color", "default": "#ffffff" },
    { "type": "color", "id": "today_color", "label": "Today year color", "default": "#27574d" },

    { "type": "header", "content": "Hero" },
    { "type": "text", "id": "hero_eyebrow", "label": "Eyebrow", "default": "Since 1996" },
    { "type": "text", "id": "hero_title", "label": "Title", "default": "The Brand" },
    { "type": "text", "id": "scroll_text", "label": "Scroll label", "default": "Scroll to Explore" },
    { "type": "image_picker", "id": "hero_image_top", "label": "Hero image top" },
    { "type": "image_picker", "id": "hero_image_right", "label": "Hero image right (front portrait)" },
    { "type": "image_picker", "id": "hero_image_left", "label": "Hero image left" },
    { "type": "image_picker", "id": "hero_image_bottom", "label": "Hero image bottom" },

    { "type": "header", "content": "History" },
    { "type": "text", "id": "history_title", "label": "History title", "default": "History" },
    { "type": "textarea", "id": "history_left_copy", "label": "Left copy", "default": "In 1996, Roberto Coin introduced Appassionata, the first collection to feature a hidden ruby, a symbol of protection, passion and prosperity." },
    { "type": "textarea", "id": "history_right_copy", "label": "Right copy", "default": "Today, the Maison is present in over 60 countries worldwide, and the ruby remains its enduring symbol." },
    { "type": "image_picker", "id": "history_ring_drawing", "label": "History ring drawing image" },
    { "type": "image_picker", "id": "history_ring_photo", "label": "History ring photo image" },

    { "type": "header", "content": "Creator" },
    { "type": "text", "id": "creator_title", "label": "Creator title", "default": "The Creator" },
    { "type": "textarea", "id": "creator_copy_1", "label": "Creator copy 1", "default": "Roberto Coin’s journey did not begin in jewelry. After a successful career in luxury hospitality across Europe, he returned to Italy and immersed himself in the goldsmith tradition of Vicenza." },
    { "type": "textarea", "id": "creator_copy_2", "label": "Creator copy 2", "default": "In 1984, he began designing under his own name, transforming experience into creativity and vision into craftsmanship." },
    { "type": "image_picker", "id": "creator_image", "label": "Creator portrait image" },
    { "type": "image_picker", "id": "creator_drawing", "label": "Vicenza drawing image" },

    { "type": "header", "content": "Ruby" },
    { "type": "text", "id": "ruby_title", "label": "Ruby title", "default": "The Ruby" },
    { "type": "richtext", "id": "ruby_copy", "label": "Ruby copy", "default": "<p>Roberto Coin chose the ruby as the hidden signature of his creations.</p><p>Set inside every jewel, the ruby is not meant to be seen but to be felt.</p>" },
    { "type": "image_picker", "id": "ruby_background", "label": "Ruby background image" },
    { "type": "image_picker", "id": "ruby_gem_image", "label": "Ruby gem image" },

    { "type": "header", "content": "Top nav links" },
    { "type": "text", "id": "left_link_1_label", "label": "Left link 1 label", "default": "High Jewelry" },
    { "type": "url", "id": "left_link_1_url", "label": "Left link 1 URL" },
    { "type": "text", "id": "left_link_2_label", "label": "Left link 2 label", "default": "Jewelry" },
    { "type": "url", "id": "left_link_2_url", "label": "Left link 2 URL" },
    { "type": "text", "id": "left_link_3_label", "label": "Left link 3 label", "default": "Occasions" },
    { "type": "url", "id": "left_link_3_url", "label": "Left link 3 URL" },
    { "type": "text", "id": "left_link_4_label", "label": "Left link 4 label", "default": "Maison" },
    { "type": "url", "id": "left_link_4_url", "label": "Left link 4 URL" },
    { "type": "text", "id": "right_link_1_label", "label": "Right link 1 label", "default": "Find a Boutique" },
    { "type": "url", "id": "right_link_1_url", "label": "Right link 1 URL" },
    { "type": "text", "id": "right_link_2_label", "label": "Right link 2 label", "default": "Concierge" },
    { "type": "url", "id": "right_link_2_url", "label": "Right link 2 URL" },
    { "type": "text", "id": "right_link_3_label", "label": "Right link 3 label", "default": "Log In" },
    { "type": "url", "id": "right_link_3_url", "label": "Right link 3 URL" },
    { "type": "text", "id": "right_link_4_label", "label": "Right link 4 label", "default": "Keep in Touch" },
    { "type": "url", "id": "right_link_4_url", "label": "Right link 4 URL" },
    { "type": "url", "id": "bag_link_url", "label": "Bag link URL" },
    { "type": "text", "id": "bag_count", "label": "Bag count", "default": "2" },

    { "type": "header", "content": "Bottom nav labels" },
    { "type": "text", "id": "section_nav_history", "label": "History label", "default": "History" },
    { "type": "text", "id": "section_nav_creator", "label": "Creator label", "default": "The Creator" },
    { "type": "text", "id": "section_nav_ruby", "label": "Ruby label", "default": "The Ruby" },
    { "type": "text", "id": "section_nav_timeline", "label": "Timeline label", "default": "Timeline" },

    { "type": "header", "content": "Timeline layout" },
    { "type": "text", "id": "timeline_aria_label", "label": "Timeline aria label", "default": "Heritage timeline" },
    { "type": "text", "id": "year_rail_aria_label", "label": "Year rail aria label", "default": "Timeline years" },
    { "type": "range", "id": "panel_height", "label": "Panel height", "min": 55, "max": 95, "step": 1, "unit": "vh", "default": 76 },
    { "type": "range", "id": "year_size", "label": "Year size", "min": 24, "max": 80, "step": 1, "unit": "px", "default": 40 },
    { "type": "range", "id": "caption_size", "label": "Caption size", "min": 10, "max": 22, "step": 1, "unit": "px", "default": 16 }
  ],
  "blocks": [
    {
      "type": "entry",
      "name": "Timeline entry",
      "settings": [
        { "type": "text", "id": "year", "label": "Year", "default": "1977" },
        { "type": "text", "id": "title", "label": "Title", "default": "Milestone" },
        { "type": "richtext", "id": "copy", "label": "Copy", "default": "<p>Roberto Coin returned to his homeland of Italy to study the goldsmithing tradition under the guidance of renowned Italian teachers. He launched his jewelry trade on the British market.</p>" },

        { "type": "header", "content": "Media 1" },
        { "type": "text", "id": "media_1_label", "label": "Label", "default": "Workshop portrait" },
        { "type": "image_picker", "id": "media_1_image", "label": "Image" },
        { "type": "text", "id": "media_1_fill", "label": "Fallback gradient", "default": "linear-gradient(135deg, #5f5a71 0%, #241f29 65%, #0d0d12 100%)" },
        { "type": "range", "id": "media_1_x", "label": "X position", "min": 0, "max": 90, "step": 1, "unit": "%", "default": 0 },
        { "type": "range", "id": "media_1_y", "label": "Y position", "min": 0, "max": 90, "step": 1, "unit": "%", "default": 18 },
        { "type": "range", "id": "media_1_w", "label": "Width", "min": 10, "max": 60, "step": 1, "unit": "%", "default": 36 },
        { "type": "range", "id": "media_1_h", "label": "Height", "min": 10, "max": 70, "step": 1, "unit": "%", "default": 46 },

        { "type": "header", "content": "Media 2" },
        { "type": "text", "id": "media_2_label", "label": "Label", "default": "Street portrait" },
        { "type": "image_picker", "id": "media_2_image", "label": "Image" },
        { "type": "text", "id": "media_2_fill", "label": "Fallback gradient", "default": "linear-gradient(180deg, #d8d8d5 0%, #8f8e88 50%, #4e4d4a 100%)" },
        { "type": "range", "id": "media_2_x", "label": "X position", "min": 0, "max": 90, "step": 1, "unit": "%", "default": 43 },
        { "type": "range", "id": "media_2_y", "label": "Y position", "min": 0, "max": 90, "step": 1, "unit": "%", "default": 0 },
        { "type": "range", "id": "media_2_w", "label": "Width", "min": 10, "max": 60, "step": 1, "unit": "%", "default": 24 },
        { "type": "range", "id": "media_2_h", "label": "Height", "min": 10, "max": 70, "step": 1, "unit": "%", "default": 58 },

        { "type": "header", "content": "Media 3" },
        { "type": "text", "id": "media_3_label", "label": "Label", "default": "Gold detail" },
        { "type": "image_picker", "id": "media_3_image", "label": "Image" },
        { "type": "text", "id": "media_3_fill", "label": "Fallback gradient", "default": "linear-gradient(135deg, #ceb78c 0%, #89683f 50%, #20150f 100%)" },
        { "type": "range", "id": "media_3_x", "label": "X position", "min": 0, "max": 90, "step": 1, "unit": "%", "default": 74 },
        { "type": "range", "id": "media_3_y", "label": "Y position", "min": 0, "max": 90, "step": 1, "unit": "%", "default": 8 },
        { "type": "range", "id": "media_3_w", "label": "Width", "min": 10, "max": 60, "step": 1, "unit": "%", "default": 18 },
        { "type": "range", "id": "media_3_h", "label": "Height", "min": 10, "max": 70, "step": 1, "unit": "%", "default": 26 }
      ]
    }
  ],
  "max_blocks": 30,
  "presets": [
    {
      "name": "Roberto Coin timeline",
      "blocks": [
        { "type": "entry", "settings": { "year": "1977", "title": "Milestone" } },
        { "type": "entry", "settings": { "year": "1984", "title": "Expansion", "copy": "<p>He began designing and creating jewelry for some of the most prestigious international brands.</p>" } }
      ]
    }
  ]
}
{% endschema %}
