<!-- /sections/section-supporting-menu.liquid -->

{%- liquid
  assign color_scheme = 'color-' | append: section.settings.color_scheme
  assign supporting_grid_columns = 8
  assign supporting_grid_span_total = 0
  assign inline_blocks = ''

  for block in section.blocks
    assign block_column_span = block.settings.column_span | default: 2 | plus: 0
    assign supporting_grid_span_total = supporting_grid_span_total | plus: block_column_span
  endfor

  if supporting_grid_span_total <= supporting_grid_columns
    assign inline_blocks = ' supporting-menu__block--divider--inline'
  endif
-%}

{%- style -%}
  #SupportingMenu--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<section
  id="SupportingMenu--{{ section.id }}"
  class="supporting-menu section-padding {{ color_scheme }}"
  data-section-id="{{ section.id }}"
  data-section-type="supporting-menu"
>
  <div class="supporting-menu__inner wrapper--full-padded">
    {%- if section.blocks.size > 0 -%}
      <div class="supporting-menu__blocks">
        {%- for block in section.blocks -%}
          {%- liquid
            assign block_type = block.type
            assign column_span = block.settings.column_span | default: 2 | plus: 0
            assign alignment = block.settings.alignment | default: 'left'
            assign viewport_visibility = block.settings.viewport_visibility | default: 'show'
            assign viewport_visibility_class = ''
            assign text_alignment = 'left'
            assign mobile_text_alignment = blank
            assign justify_alignment = 'flex-start'

            case alignment
              when 'center'
                assign text_alignment = 'center'
                assign justify_alignment = 'center'
              when 'right'
                assign text_alignment = 'right'
                assign justify_alignment = 'flex-end'
            endcase

            if block_type == 'text'
              assign mobile_alignment = block.settings.mobile_alignment | default: alignment
              assign mobile_text_alignment = 'left'

              case mobile_alignment
                when 'center'
                  assign mobile_text_alignment = 'center'
                when 'right'
                  assign mobile_text_alignment = 'right'
              endcase
            endif

            case viewport_visibility
              when 'hide_mobile'
                assign viewport_visibility_class = ' supporting-menu__block--hide-mobile'
              when 'hide_desktop'
                assign viewport_visibility_class = ' supporting-menu__block--hide-desktop'
            endcase

            capture block_style
              echo '--column-span: ' | append: column_span | append: ';'
              echo '--supporting-menu-text-align: ' | append: text_alignment | append: ';'
              echo '--supporting-menu-justify: ' | append: justify_alignment | append: ';'

              if block_type == 'text'
                echo '--supporting-menu-mobile-text-align: ' | append: mobile_text_alignment | append: ';'
              endif
            endcapture
          -%}

          {%- case block_type -%}
            {%- when 'bottom_bar_link_list' -%}
              {%- assign linklist = linklists[block.settings.linklist] -%}

              {%- if linklist != blank -%}
                <div
                  class="supporting-menu__block supporting-menu__block--link-list{{ viewport_visibility_class }}"
                  style="{{ block_style }}"
                  {{ block.shopify_attributes }}
                >
                  <ul class="supporting-menu__links unstyled">
                    {%- for link in linklist.links -%}
                      <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}

            {%- when 'divider' -%}
              {%- liquid
                assign divider_padding_top = block.settings.padding_top
                assign divider_padding_bottom = block.settings.padding_bottom

                capture divider_style
                  if divider_padding_top != blank or divider_padding_bottom != blank
                    echo '--block-padding-top:' | append: divider_padding_top | append: 'px;'
                    echo '--block-padding-bottom:' | append: divider_padding_bottom | append: 'px;'
                  endif
                endcapture
              -%}
              <div
                class="supporting-menu__block supporting-menu__block--divider{{ inline_blocks }}{{ viewport_visibility_class }}"
                style="{{ block_style }}"
                {{ block.shopify_attributes }}
              >
                <div class="divider-holder block-padding" style="{{ divider_style }}">
                  <hr class="divider">
                </div>
              </div>

            {%- when 'payment_logos' -%}
              {%- unless shop.enabled_payment_types == empty -%}
                <div
                  class="supporting-menu__block supporting-menu__block--payment{{ viewport_visibility_class }}"
                  style="{{ block_style }}"
                  {{ block.shopify_attributes }}
                >
                  <ul class="supporting-menu__payment payment-icons{% if block.settings.enable_greyscale %} payment-icons--greyscale{% endif %}">
                    {%- for type in shop.enabled_payment_types -%}
                      <li>{{ type | payment_type_svg_tag: class: 'payment-icon' }}</li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endunless -%}

            {%- when 'text' -%}
              {%- if block.settings.text != blank -%}
                <div
                  class="supporting-menu__block supporting-menu__block--text{{ viewport_visibility_class }}"
                  style="{{ block_style }}"
                  {{ block.shopify_attributes }}
                >
                  <div class="supporting-menu__text rte">
                    {{ block.settings.text }}
                  </div>
                </div>
              {%- endif -%}

            {%- when 'logo' -%}
              {%- if block.settings.image != blank -%}
                {%- liquid
                  assign image_width = block.settings.image_width
                  assign image_width_x15 = image_width | times: 1.5
                  assign image_width_x2 = image_width | times: 2
                  assign image_sizes = image_width | append: 'px'
                  assign image_widths = image_width | append: ', ' | append: image_width_x15 | append: ', ' | append: image_width_x2
                -%}

                <div
                  class="supporting-menu__block supporting-menu__block--logo{{ viewport_visibility_class }}"
                  style="{{ block_style }}"
                  {{ block.shopify_attributes }}
                >
                  <div class="supporting-menu__logo" style="width: {{ image_width }}px;">
                    {%- render 'image',
                      image: block.settings.image,
                      width: image_width_x2,
                      sizes: image_sizes,
                      widths: image_widths
                    -%}
                  </div>
                </div>
              {%- endif -%}

            {%- when 'socials' -%}
              <div
                class="supporting-menu__block supporting-menu__block--socials{{ viewport_visibility_class }}"
                style="{{ block_style }}"
                {{ block.shopify_attributes }}
              >
                {%- render 'social-icons' -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</section>

{% stylesheet %}
  .supporting-menu__inner {
    display: block;
  }

  .supporting-menu__blocks {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: var(--gutter);
    grid-auto-flow: row dense;
    position: relative;
    align-items: center;
    overflow-wrap: anywhere;
  }

  @media only screen and (min-width: 750px) {
    .supporting-menu__blocks {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media only screen and (min-width: 960px) {
    .supporting-menu__blocks {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }
  }

  @media only screen and (max-width: 749px) {
    .supporting-menu__blocks {
      padding: 0 calc(var(--gutter) / 2);
    }
  }

  .supporting-menu__block {
    min-width: 0;
    text-align: var(--supporting-menu-text-align, left);
  }

  @media only screen and (max-width: 960px) {
    .supporting-menu__block--hide-mobile {
      display: none !important;
    }
  }

  @media only screen and (min-width: 961px) {
    .supporting-menu__block--hide-desktop {
      display: none;
    }
  }

  @media only screen and (min-width: 960px) {
    .supporting-menu__block {
      grid-column: span var(--column-span);
    }
  }

  @media only screen and (min-width: 750px) and (max-width: 989px) {
    /* .supporting-menu__block {
      grid-column: span 1;
    } */
  }

  @media only screen and (min-width: 750px) {
    .supporting-menu__block {
      padding: 0;
    }
  }

  @media only screen and (min-width: 750px) {
    .supporting-menu__block--divider {
      position: relative;
      display: flex;
      padding: 0;
      pointer-events: none;
    }

    .supporting-menu__block--divider .divider-holder {
      display: flex;
      justify-content: center;
      flex: 0 1 100%;
      margin: 0;
    }

    .supporting-menu__block--divider .divider {
      height: 100%;
    }
  }

  @media only screen and (min-width: 750px) and (max-width: 960px) {
    .supporting-menu__block--divider {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
    }
  }

  @media only screen and (min-width: 750px) {
    body.grid-compact .supporting-menu__block--divider--inline {
      margin-bottom: calc((var(--padding-bottom) * -1) + var(--gutter));
    }

    body.grid-compact .supporting-menu__blocks:only-child .supporting-menu__block--divider--inline {
      margin-top: calc((var(--padding-top) * -1));
    }
  }

  .supporting-menu__links,
  .supporting-menu__payment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: var(--supporting-menu-justify, flex-start);
    gap: 8px 20px;
    margin: 0;
    list-style: none;
  }

  .supporting-menu__links li,
  .supporting-menu__payment li {
    margin: 0;
  }

  .supporting-menu__links a {
    position: relative;
  }

  .supporting-menu__links a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--link);
    transition: width 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  @media (hover: hover) {
    .supporting-menu__links li:hover a::after {
      width: 100%;
    }
  }

  .supporting-menu__text > *:first-child {
    margin-top: 0;
  }

  .supporting-menu__text > *:last-child {
    margin-bottom: 0;
  }

  .supporting-menu__block--logo {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .supporting-menu__logo {
    display: inline-block;
    max-width: 100%;
  }

  .supporting-menu__payment .payment-icon {
    display: block;
    width: 36px;
  }

  .supporting-menu__block--socials .socials {
    justify-content: var(--supporting-menu-justify, flex-start);
    width: 100%;
  }

  .supporting-menu__block--socials .social-link {
    color: var(--link);
  }

  .supporting-menu__block--socials .social-link:hover {
    color: var(--link-hover);
  }

  .supporting-menu__block--text {
    text-align: var(--supporting-menu-text-align, left);
  }

  @media only screen and (max-width: 749px) {
    .supporting-menu__block--divider {
      display: none;
    }

    .supporting-menu__links,
    .supporting-menu__payment,
    .supporting-menu__block--socials .socials {
      justify-content: flex-start;
    }

    .supporting-menu__block--text {
      text-align: var(--supporting-menu-mobile-text-align, var(--supporting-menu-text-align, left));
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Supporting menu",
  "limit": 1,
  "max_blocks": 8,
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "bottom_bar_link_list",
      "name": "Bottom bar link list",
      "settings": [
        {
          "type": "link_list",
          "id": "linklist",
          "label": "Link list",
          "info": "This menu won't show dropdown items."
        },
        {
          "type": "select",
          "id": "column_span",
          "label": "Desktop span",
          "default": "2",
          "options": [
            {"value": "1", "label": "1"},
            {"value": "2", "label": "2"}
          ],
          "info": "Based on the 8-column supporting menu grid"
        },
        {
          "type": "select",
          "id": "viewport_visibility",
          "label": "Visibility",
          "default": "show",
          "options": [
            {"value": "show", "label": "Show on all"},
            {"value": "hide_mobile", "label": "Hide on mobile"},
            {"value": "hide_desktop", "label": "Hide on desktop"}
          ]
        }
      ]
    },
    {
      "type": "divider",
      "name": "Divider",
      "settings": [
        {
          "type": "select",
          "id": "column_span",
          "label": "Desktop span",
          "default": "1",
          "options": [
            {"value": "1", "label": "1"},
            {"value": "2", "label": "2"}
          ],
          "info": "Based on the 8-column supporting menu grid"
        },
        {
          "type": "select",
          "id": "viewport_visibility",
          "label": "Visibility",
          "default": "show",
          "options": [
            {"value": "show", "label": "Show on all"},
            {"value": "hide_mobile", "label": "Hide on mobile"},
            {"value": "hide_desktop", "label": "Hide on desktop"}
          ]
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Top",
          "default": 20
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Bottom",
          "default": 20
        }
      ]
    },
    {
      "type": "payment_logos",
      "name": "Payment logos",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_greyscale",
          "label": "Enable greyscale",
          "default": false
        },
        {
          "type": "select",
          "id": "column_span",
          "label": "Desktop span",
          "default": "2",
          "options": [
            {"value": "1", "label": "1"},
            {"value": "2", "label": "2"}
          ],
          "info": "Based on the 8-column supporting menu grid"
        },
        {
          "type": "select",
          "id": "viewport_visibility",
          "label": "Visibility",
          "default": "show",
          "options": [
            {"value": "show", "label": "Show on all"},
            {"value": "hide_mobile", "label": "Hide on mobile"},
            {"value": "hide_desktop", "label": "Hide on desktop"}
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Add supporting footer text here.</p>"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "default": "left",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "center", "label": "Center"},
            {"value": "right", "label": "Right"}
          ]
        },
        {
          "type": "select",
          "id": "column_span",
          "label": "Desktop span",
          "default": "2",
          "options": [
            {"value": "1", "label": "1"},
            {"value": "2", "label": "2"}
          ],
          "info": "Based on the 8-column supporting menu grid"
        },
        {
          "type": "select",
          "id": "viewport_visibility",
          "label": "Visibility",
          "default": "show",
          "options": [
            {"value": "show", "label": "Show on all"},
            {"value": "hide_mobile", "label": "Hide on mobile"},
            {"value": "hide_desktop", "label": "Hide on desktop"}
          ]
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "select",
          "id": "mobile_alignment",
          "label": "Alignment",
          "default": "left",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "center", "label": "Center"},
            {"value": "right", "label": "Right"}
          ]
        }
      ]
    },
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Image width (in pixels)",
          "min": 50,
          "max": 400,
          "step": 5,
          "unit": "px",
          "default": 150
        },
        {
          "type": "select",
          "id": "column_span",
          "label": "Desktop span",
          "default": "2",
          "options": [
            {"value": "1", "label": "1"},
            {"value": "2", "label": "2"}
          ],
          "info": "Based on the 8-column supporting menu grid"
        },
        {
          "type": "select",
          "id": "viewport_visibility",
          "label": "Visibility",
          "default": "show",
          "options": [
            {"value": "show", "label": "Show on all"},
            {"value": "hide_mobile", "label": "Hide on mobile"},
            {"value": "hide_desktop", "label": "Hide on desktop"}
          ]
        }
      ]
    },
    {
      "type": "socials",
      "name": "Socials",
      "settings": [
        {
          "type": "paragraph",
          "content": "Edit your social settings and accounts in [Theme settings](/admin/themes/current/editor?context=theme)."
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "default": "left",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ]
        },
        {
          "type": "select",
          "id": "column_span",
          "label": "Desktop span",
          "default": "2",
          "options": [
            {"value": "1", "label": "1"},
            {"value": "2", "label": "2"}
          ],
          "info": "Based on the 8-column supporting menu grid"
        },
        {
          "type": "select",
          "id": "viewport_visibility",
          "label": "Visibility",
          "default": "show",
          "options": [
            {"value": "show", "label": "Show on all"},
            {"value": "hide_mobile", "label": "Hide on mobile"},
            {"value": "hide_desktop", "label": "Hide on desktop"}
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Supporting menu",
      "category": "Layout"
    }
  ],
  "enabled_on": {
    "groups": ["footer"]
  }
}
{% endschema %}
