{{ 'custom-collection.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign tile_product = section.settings.storytelling_product
-%}

<section
  class="shop-the-look {{ section.settings.width }}"
  id="ShopTheLook--{{ section.id }}"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px; --STL-WIDTH: {{ section.settings.section_width }}"
  data-section-id="{{ section.id }}"
  data-section-type="shop-the-look"
>
  {%- if tile_product != blank -%}
    {%- render 'product-tile-storytelling', product: tile_product, index: tile_product.id, pdp_mode: true -%}
  {%- else -%}
    {%- if request.design_mode -%}
      <div class="shop-the-look__placeholder">
        <p>{{ 'home_page.onboarding.no_content' | t }}</p>
      </div>
    {%- endif -%}
  {%- endif -%}
</section>

{% stylesheet %}
  .shop-the-look {
    padding-top: var(--PT);
    padding-bottom: var(--PB);
    width: var(--STL-WIDTH);
  }

  .shop-the-look__placeholder {
    padding: 40px;
    text-align: center;
  }
  .shop-the-look .product-storytelling.full_bleed .grid-media__media-wrapper {
    width: 100%;
    margin: 0;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Shop the look custom",
  "settings": [
    {
      "type": "product",
      "id": "storytelling_product",
      "label": "Storytelling product"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_width",
      "min": 40,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Width",
      "default": 100
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        {"value": "wrapper--full", "label": "Full width"},
        {"value": "wrapper--full-padded", "label": "Full width padded"},
        {"value": "wrapper", "label": "Normal"}
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop the look custom",
      "category": "Blog"
    }
  ],
  "enabled_on": {
    "templates": ["article"]
  }
}
{% endschema %}
