{%- liquid
  assign hero_top_a = section.settings.hero_image_top
  assign hero_right_a = section.settings.hero_image_right
  assign hero_left_a = section.settings.hero_image_left
  assign hero_bottom_a = section.settings.hero_image_bottom

  assign hero_top_b = section.settings.hero_image_top_alt
  assign hero_right_b = section.settings.hero_image_right_alt
  assign hero_left_b = section.settings.hero_image_left_alt
  assign hero_bottom_b = section.settings.hero_image_bottom_alt

  if hero_top_a != blank and hero_top_a.value != blank
    assign hero_top_a = hero_top_a.value
  endif
  if hero_right_a != blank and hero_right_a.value != blank
    assign hero_right_a = hero_right_a.value
  endif
  if hero_left_a != blank and hero_left_a.value != blank
    assign hero_left_a = hero_left_a.value
  endif
  if hero_bottom_a != blank and hero_bottom_a.value != blank
    assign hero_bottom_a = hero_bottom_a.value
  endif
  if hero_top_b != blank and hero_top_b.value != blank
    assign hero_top_b = hero_top_b.value
  endif
  if hero_right_b != blank and hero_right_b.value != blank
    assign hero_right_b = hero_right_b.value
  endif
  if hero_left_b != blank and hero_left_b.value != blank
    assign hero_left_b = hero_left_b.value
  endif
  if hero_bottom_b != blank and hero_bottom_b.value != blank
    assign hero_bottom_b = hero_bottom_b.value
  endif

  assign interval_ms = section.settings.interval_seconds | times: 1000
-%}

<section
  id="Slideshow2Header--{{ section.id }}"
  class="slideshow-2-header section-padding {{ section.settings.width }}"
  data-section-id="{{ section.id }}"
  data-section-type="slideshow-2-header"
  data-interval-ms="{{ interval_ms }}"
>
  <div class="slideshow-2-header__hero">
    <div class="slideshow-2-header__center">
      <div class="slideshow-2-header__collage" aria-hidden="true" data-s2h-collage>
        <figure
          class="slideshow-2-header__item slideshow-2-header__item--top"
          style="
            --shift-x-a-desktop: {{ section.settings.s1_top_x_desktop }}px;
            --shift-y-a-desktop: {{ section.settings.s1_top_y_desktop }}px;
            --shift-x-a-mobile: {{ section.settings.s1_top_x_mobile }}px;
            --shift-y-a-mobile: {{ section.settings.s1_top_y_mobile }}px;
            --shift-x-a-ipad: {{ section.settings.s1_top_x_ipad }}px;
            --shift-y-a-ipad: {{ section.settings.s1_top_y_ipad }}px;
            --shift-x-b-desktop: {{ section.settings.s2_top_x_desktop }}px;
            --shift-y-b-desktop: {{ section.settings.s2_top_y_desktop }}px;
            --shift-x-b-mobile: {{ section.settings.s2_top_x_mobile }}px;
            --shift-y-b-mobile: {{ section.settings.s2_top_y_mobile }}px;
            --shift-x-b-ipad: {{ section.settings.s2_top_x_ipad }}px;
            --shift-y-b-ipad: {{ section.settings.s2_top_y_ipad }}px;
            --scale-a-desktop: {{ section.settings.s1_top_scale_desktop | times: 0.01 }};
            --scale-a-mobile: {{ section.settings.s1_top_scale_mobile | times: 0.01 }};
            --scale-a-ipad: {{ section.settings.s1_top_scale_ipad | times: 0.01 }};
            --scale-b-desktop: {{ section.settings.s2_top_scale_desktop | times: 0.01 }};
            --scale-b-mobile: {{ section.settings.s2_top_scale_mobile | times: 0.01 }};
            --scale-b-ipad: {{ section.settings.s2_top_scale_ipad | times: 0.01 }};
          "
        >
          {% if hero_top_a != blank or hero_top_b != blank %}
            <img
              src="{{ hero_top_a | default: hero_top_b | image_url: width: 1400 }}"
              alt="{{ hero_top_a.alt | default: hero_top_b.alt | escape }}"
              data-image-a="{{ hero_top_a | default: hero_top_b | image_url: width: 1400 }}"
              data-image-b="{% if hero_top_b != blank %}{{ hero_top_b | image_url: width: 1400 }}{% endif %}"
              data-alt-a="{{ hero_top_a.alt | default: hero_top_b.alt | escape }}"
              data-alt-b="{% if hero_top_b != blank %}{{ hero_top_b.alt | escape }}{% endif %}"
              loading="eager"
            >
          {% endif %}
        </figure>

        <figure
          class="slideshow-2-header__item slideshow-2-header__item--right"
          style="
            --shift-x-a-desktop: {{ section.settings.s1_right_x_desktop }}px;
            --shift-y-a-desktop: {{ section.settings.s1_right_y_desktop }}px;
            --shift-x-a-mobile: {{ section.settings.s1_right_x_mobile }}px;
            --shift-y-a-mobile: {{ section.settings.s1_right_y_mobile }}px;
            --shift-x-a-ipad: {{ section.settings.s1_right_x_ipad }}px;
            --shift-y-a-ipad: {{ section.settings.s1_right_y_ipad }}px;
            --shift-x-b-desktop: {{ section.settings.s2_right_x_desktop }}px;
            --shift-y-b-desktop: {{ section.settings.s2_right_y_desktop }}px;
            --shift-x-b-mobile: {{ section.settings.s2_right_x_mobile }}px;
            --shift-y-b-mobile: {{ section.settings.s2_right_y_mobile }}px;
            --shift-x-b-ipad: {{ section.settings.s2_right_x_ipad }}px;
            --shift-y-b-ipad: {{ section.settings.s2_right_y_ipad }}px;
            --scale-a-desktop: {{ section.settings.s1_right_scale_desktop | times: 0.01 }};
            --scale-a-mobile: {{ section.settings.s1_right_scale_mobile | times: 0.01 }};
            --scale-a-ipad: {{ section.settings.s1_right_scale_ipad | times: 0.01 }};
            --scale-b-desktop: {{ section.settings.s2_right_scale_desktop | times: 0.01 }};
            --scale-b-mobile: {{ section.settings.s2_right_scale_mobile | times: 0.01 }};
            --scale-b-ipad: {{ section.settings.s2_right_scale_ipad | times: 0.01 }};
          "
        >
          {% if hero_right_a != blank or hero_right_b != blank %}
            <img
              src="{{ hero_right_a | default: hero_right_b | image_url: width: 1800 }}"
              alt="{{ hero_right_a.alt | default: hero_right_b.alt | escape }}"
              data-image-a="{{ hero_right_a | default: hero_right_b | image_url: width: 1800 }}"
              data-image-b="{% if hero_right_b != blank %}{{ hero_right_b | image_url: width: 1800 }}{% endif %}"
              data-alt-a="{{ hero_right_a.alt | default: hero_right_b.alt | escape }}"
              data-alt-b="{% if hero_right_b != blank %}{{ hero_right_b.alt | escape }}{% endif %}"
              loading="eager"
            >
          {% endif %}
        </figure>

        <figure
          class="slideshow-2-header__item slideshow-2-header__item--left"
          style="
            --shift-x-a-desktop: {{ section.settings.s1_left_x_desktop }}px;
            --shift-y-a-desktop: {{ section.settings.s1_left_y_desktop }}px;
            --shift-x-a-mobile: {{ section.settings.s1_left_x_mobile }}px;
            --shift-y-a-mobile: {{ section.settings.s1_left_y_mobile }}px;
            --shift-x-a-ipad: {{ section.settings.s1_left_x_ipad }}px;
            --shift-y-a-ipad: {{ section.settings.s1_left_y_ipad }}px;
            --shift-x-b-desktop: {{ section.settings.s2_left_x_desktop }}px;
            --shift-y-b-desktop: {{ section.settings.s2_left_y_desktop }}px;
            --shift-x-b-mobile: {{ section.settings.s2_left_x_mobile }}px;
            --shift-y-b-mobile: {{ section.settings.s2_left_y_mobile }}px;
            --shift-x-b-ipad: {{ section.settings.s2_left_x_ipad }}px;
            --shift-y-b-ipad: {{ section.settings.s2_left_y_ipad }}px;
            --scale-a-desktop: {{ section.settings.s1_left_scale_desktop | times: 0.01 }};
            --scale-a-mobile: {{ section.settings.s1_left_scale_mobile | times: 0.01 }};
            --scale-a-ipad: {{ section.settings.s1_left_scale_ipad | times: 0.01 }};
            --scale-b-desktop: {{ section.settings.s2_left_scale_desktop | times: 0.01 }};
            --scale-b-mobile: {{ section.settings.s2_left_scale_mobile | times: 0.01 }};
            --scale-b-ipad: {{ section.settings.s2_left_scale_ipad | times: 0.01 }};
          "
        >
          {% if hero_left_a != blank or hero_left_b != blank %}
            <img
              src="{{ hero_left_a | default: hero_left_b | image_url: width: 1800 }}"
              alt="{{ hero_left_a.alt | default: hero_left_b.alt | escape }}"
              data-image-a="{{ hero_left_a | default: hero_left_b | image_url: width: 1800 }}"
              data-image-b="{% if hero_left_b != blank %}{{ hero_left_b | image_url: width: 1800 }}{% endif %}"
              data-alt-a="{{ hero_left_a.alt | default: hero_left_b.alt | escape }}"
              data-alt-b="{% if hero_left_b != blank %}{{ hero_left_b.alt | escape }}{% endif %}"
              loading="eager"
            >
          {% endif %}
        </figure>

        <figure
          class="slideshow-2-header__item slideshow-2-header__item--bottom"
          style="
            --shift-x-a-desktop: {{ section.settings.s1_bottom_x_desktop }}px;
            --shift-y-a-desktop: {{ section.settings.s1_bottom_y_desktop }}px;
            --shift-x-a-mobile: {{ section.settings.s1_bottom_x_mobile }}px;
            --shift-y-a-mobile: {{ section.settings.s1_bottom_y_mobile }}px;
            --shift-x-a-ipad: {{ section.settings.s1_bottom_x_ipad }}px;
            --shift-y-a-ipad: {{ section.settings.s1_bottom_y_ipad }}px;
            --shift-x-b-desktop: {{ section.settings.s2_bottom_x_desktop }}px;
            --shift-y-b-desktop: {{ section.settings.s2_bottom_y_desktop }}px;
            --shift-x-b-mobile: {{ section.settings.s2_bottom_x_mobile }}px;
            --shift-y-b-mobile: {{ section.settings.s2_bottom_y_mobile }}px;
            --shift-x-b-ipad: {{ section.settings.s2_bottom_x_ipad }}px;
            --shift-y-b-ipad: {{ section.settings.s2_bottom_y_ipad }}px;
            --scale-a-desktop: {{ section.settings.s1_bottom_scale_desktop | times: 0.01 }};
            --scale-a-mobile: {{ section.settings.s1_bottom_scale_mobile | times: 0.01 }};
            --scale-a-ipad: {{ section.settings.s1_bottom_scale_ipad | times: 0.01 }};
            --scale-b-desktop: {{ section.settings.s2_bottom_scale_desktop | times: 0.01 }};
            --scale-b-mobile: {{ section.settings.s2_bottom_scale_mobile | times: 0.01 }};
            --scale-b-ipad: {{ section.settings.s2_bottom_scale_ipad | times: 0.01 }};
          "
        >
          {% if hero_bottom_a != blank or hero_bottom_b != blank %}
            <img
              src="{{ hero_bottom_a | default: hero_bottom_b | image_url: width: 1800 }}"
              alt="{{ hero_bottom_a.alt | default: hero_bottom_b.alt | escape }}"
              data-image-a="{{ hero_bottom_a | default: hero_bottom_b | image_url: width: 1800 }}"
              data-image-b="{% if hero_bottom_b != blank %}{{ hero_bottom_b | image_url: width: 1800 }}{% endif %}"
              data-alt-a="{{ hero_bottom_a.alt | default: hero_bottom_b.alt | escape }}"
              data-alt-b="{% if hero_bottom_b != blank %}{{ hero_bottom_b.alt | escape }}{% endif %}"
              loading="eager"
            >
          {% endif %}
        </figure>
      </div>

      <div class="slideshow-2-header__copy">
        {% if section.settings.show_flower %}
          <svg class="slideshow-2-header__flower" width="452" height="466" viewBox="0 0 452 466" fill="none" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
            <path d="M253.807 274.486C269.754 297.022 275.418 309.308 275.418 330.306C275.418 356.938 258.949 385.107 228.059 405.585C197.169 385.107 180.7 356.938 180.7 330.306C180.7 309.308 186.364 297.022 202.331 274.486L198.214 272.428L186.364 286.253C155.996 321.595 147.741 338.497 147.741 354.36C147.741 394.816 196.646 427.082 216.731 455.252L224.443 466H231.653L239.386 455.252C259.471 427.602 308.377 394.816 308.377 354.36C308.377 338.476 300.142 321.574 269.754 286.253L257.924 272.428L253.807 274.486ZM10.8052 221.742L0 229.435V236.607L10.8052 244.278C39.6261 264.756 71.54 312.905 112.232 312.905C128.199 312.905 145.17 304.714 180.7 274.507L194.598 262.719L192.529 258.623C169.874 274.507 157.522 280.12 136.936 280.12C109.64 280.12 81.3421 263.218 61.2573 233.01C81.3421 202.782 109.661 185.901 136.936 185.901C157.522 185.901 169.874 191.535 192.529 207.418L194.598 203.323L180.7 191.556C145.17 161.348 128.199 153.137 112.232 153.137C71.5609 153.137 39.1245 201.784 10.8052 221.763M271.3 191.535L257.402 203.302L259.45 207.398C282.106 191.514 294.457 185.88 315.044 185.88C342.318 185.88 370.637 202.782 390.722 232.99C370.637 263.197 342.318 280.099 315.044 280.099C294.457 280.099 282.106 274.465 259.45 258.602L257.402 262.698L271.3 274.486C306.83 304.693 323.821 312.884 339.768 312.884C380.439 312.884 412.353 264.735 441.195 244.258L452 236.586V229.414L441.195 221.722C412.876 201.743 380.439 153.095 339.768 153.095C323.801 153.095 306.809 161.286 271.3 191.514M224.464 0L216.752 10.7482C196.667 38.9182 147.762 71.1838 147.762 111.64C147.762 127.503 155.996 144.405 186.384 179.747L198.235 193.572L202.352 191.514C186.384 168.978 180.721 156.692 180.721 136.214C180.721 109.083 197.712 80.9133 228.08 60.9345C258.447 80.9133 275.438 109.083 275.438 136.214C275.438 156.692 269.775 168.978 253.828 191.514L257.945 193.572L269.775 179.747C300.163 144.405 308.397 127.503 308.397 111.64C308.397 71.1838 260.014 39.438 239.407 10.7482L231.674 0H224.464Z" fill="#397E70"/>
          </svg>
        {% endif %}
        <h1>{{ section.settings.hero_title }}</h1>
        <p class="eyebrow">{{ section.settings.hero_eyebrow }}</p>
      </div>
    </div>
  </div>
</section>

{% stylesheet %}
  #Slideshow2Header--{{ section.id }} {
    --section-top: {{ section.settings.padding_top }}px;
    --section-bottom: {{ section.settings.padding_bottom }}px;
    --hero-lift: -100px;
  }

  #Slideshow2Header--{{ section.id }}.slideshow-2-header {
    position: relative;
    padding-top: var(--section-top);
    padding-bottom: var(--section-bottom);
    overflow-x: clip;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__hero {
    position: relative;
    min-height: 82vh;
    padding: 0.5rem clamp(1.5rem, 3vw, 2.5rem) 2rem;
    display: flex;
    flex-direction: column;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__center {
    flex: 1;
    display: grid;
    place-items: center;
    margin-top: calc(150px + var(--hero-lift));
    padding-bottom: 2rem;
    position: relative;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__collage {
    position: relative;
    width: min(980px, 82vw);
    min-height: 620px;
    transform: translateY(50px);
    z-index: 1;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__item {
    position: absolute;
    margin: 0;
    overflow: hidden;
    opacity: 1;
    transform: none;
    transition:
      translate 1.25s cubic-bezier(0.2, 0.88, 0.28, 1),
      scale 1.25s cubic-bezier(0.2, 0.88, 0.28, 1),
      top 1.25s cubic-bezier(0.2, 0.88, 0.28, 1),
      right 1.25s cubic-bezier(0.2, 0.88, 0.28, 1),
      bottom 1.25s cubic-bezier(0.2, 0.88, 0.28, 1),
      left 1.25s cubic-bezier(0.2, 0.88, 0.28, 1),
      width 1.25s cubic-bezier(0.2, 0.88, 0.28, 1),
      height 1.25s cubic-bezier(0.2, 0.88, 0.28, 1),
      opacity 2s ease,
      transform 2s cubic-bezier(0.22, 1, 0.36, 1),
      filter 2s ease;
    will-change: opacity, transform, filter;
    translate: var(--shift-x-a-desktop, 0px) var(--shift-y-a-desktop, 0px);
    scale: var(--scale-a-desktop, 1);
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__collage.is-alt .slideshow-2-header__item {
    translate: var(--shift-x-b-desktop, 0px) var(--shift-y-b-desktop, 0px);
    scale: var(--scale-b-desktop, 1);
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__collage.is-alt .slideshow-2-header__item img {
    object-fit: contain;
    object-position: center;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__collage.is-intro .slideshow-2-header__item {
    opacity: 0;
    transform: translateY(8px) scale(0.995);
    transition-duration: 1.1s;
    transition-timing-function: cubic-bezier(0.22, 0.84, 0.28, 1);
    transition-delay: var(--intro-delay, 0ms);
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__collage.is-intro.is-intro-visible .slideshow-2-header__item {
    opacity: 1;
    transform: none;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__item--top {
    top: -10px;
    left: calc(33% - 100px);
    width: 250px;
    height: 312px;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__item--right {
    top: 0;
    right: 9%;
    width: 328px;
    height: 426px;
    z-index: 5;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__item--left {
    left: calc(8% - 200px);
    bottom: 92px;
    width: 514px;
    height: 410px;
    z-index: 2;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__item--bottom {
    right: 0;
    bottom: 8px;
    width: 346px;
    height: 248px;
    z-index: 2;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__copy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% + 25px));
    z-index: 10;
    text-align: center;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__flower {
    position: absolute;
    left: 50%;
    top: 50%;
    width: min(452px, 62vw);
    height: auto;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__copy .eyebrow,
  #Slideshow2Header--{{ section.id }} .slideshow-2-header__copy h1 {
    position: relative;
    z-index: 1;
    margin: 0;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__copy .eyebrow {
    margin: 0.4rem 0 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.22em;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__copy h1 {
    font-family: "Portrait", "Cormorant Garamond", serif;
    font-size: 40px;
    line-height: 1;
    font-weight: 500;
  }

  #Slideshow2Header--{{ section.id }} .slideshow-2-header__collage.is-intro.is-intro-visible .slideshow-2-header__item--top {
    --intro-delay: 0ms;
  }
  #Slideshow2Header--{{ section.id }} .slideshow-2-header__collage.is-intro.is-intro-visible .slideshow-2-header__item--right {
    --intro-delay: 170ms;
  }
  #Slideshow2Header--{{ section.id }} .slideshow-2-header__collage.is-intro.is-intro-visible .slideshow-2-header__item--left {
    --intro-delay: 340ms;
  }
  #Slideshow2Header--{{ section.id }} .slideshow-2-header__collage.is-intro.is-intro-visible .slideshow-2-header__item--bottom {
    --intro-delay: 510ms;
  }

  @media (min-width: 750px) and (max-width: 1024px) {
    #Slideshow2Header--{{ section.id }} .slideshow-2-header__item {
      translate: var(--shift-x-a-ipad, 0px) var(--shift-y-a-ipad, 0px);
      scale: var(--scale-a-ipad, 1);
    }

    #Slideshow2Header--{{ section.id }} .slideshow-2-header__collage.is-alt .slideshow-2-header__item {
      translate: var(--shift-x-b-ipad, 0px) var(--shift-y-b-ipad, 0px);
      scale: var(--scale-b-ipad, 1);
    }
  }

  @media (max-width: 749px) {
    #Slideshow2Header--{{ section.id }} .slideshow-2-header__center {
      justify-items: center;
    }

    #Slideshow2Header--{{ section.id }} .slideshow-2-header__copy {
      width: min(88vw, 24rem);
      transform: translate(-50%, calc(-50% - 70px));
    }

    #Slideshow2Header--{{ section.id }} .slideshow-2-header__collage {
      width: min(92vw, 560px);
      min-height: 560px;
      transform: translateY(-50px);
    }

    #Slideshow2Header--{{ section.id }} .slideshow-2-header__item--top {
      top: 34px;
      left: 10%;
      width: 300px;
      height: 266px;
    }

    #Slideshow2Header--{{ section.id }} .slideshow-2-header__item--right {
      top: 20px;
      right: 5%;
      width: 234px;
      height: 298px;
    }

    #Slideshow2Header--{{ section.id }} .slideshow-2-header__item--left {
      left: 0;
      bottom: 90px;
      width: 350px;
      height: 232px;
      z-index: 40;
    }

    #Slideshow2Header--{{ section.id }} .slideshow-2-header__item--bottom {
      right: 4%;
      bottom: -40px;
      width: 288px;
      height: 226px;
    }

    #Slideshow2Header--{{ section.id }} .slideshow-2-header__item {
      translate: var(--shift-x-a-mobile, 0px) var(--shift-y-a-mobile, 0px);
      scale: var(--scale-a-mobile, 1);
    }

    #Slideshow2Header--{{ section.id }} .slideshow-2-header__collage.is-alt .slideshow-2-header__item {
      translate: var(--shift-x-b-mobile, 0px) var(--shift-y-b-mobile, 0px);
      scale: var(--scale-b-mobile, 1);
    }
  }
{% endstylesheet %}

{% javascript %}
  (() => {
    const initSection = (section) => {
      if (!section || section.dataset.s2hReady === 'true') return;
      section.dataset.s2hReady = 'true';

      const collage = section.querySelector('[data-s2h-collage]');
      if (!collage) return;

      const items = [...collage.querySelectorAll('.slideshow-2-header__item')];
      if (!items.length) return;

      const prefersReducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches;
      const intervalMs = Math.max(6000, Math.min(15000, Number(section.dataset.intervalMs || 6000)));
      const timeoutIds = new Set();
      let intervalId = null;
      let lastScrollY = window.scrollY || window.pageYOffset || 0;

      const scheduleTimeout = (callback, delay) => {
        const timeoutId = window.setTimeout(() => {
          timeoutIds.delete(timeoutId);
          callback();
        }, delay);
        timeoutIds.add(timeoutId);
        return timeoutId;
      };

      const clearAllTimeouts = () => {
        timeoutIds.forEach((timeoutId) => window.clearTimeout(timeoutId));
        timeoutIds.clear();
      };

      const resetItemPosition = (item) => {
        item.style.removeProperty('top');
        item.style.removeProperty('right');
        item.style.removeProperty('bottom');
        item.style.removeProperty('left');
        item.style.removeProperty('width');
        item.style.removeProperty('height');
        item.style.removeProperty('z-index');
      };

      const applyAltLayout = () => {
        if (window.innerWidth > 820) {
          const altDesktopLayout = [
            { top: '-100px', left: '25%', width: '302px', height: '378px' },
            { top: '-42px', right: '4%', width: '350px', height: '466px' },
            { left: 'calc(6% - 100px)', bottom: '100px', width: '580px', height: '468px' },
            { right: '-50px', bottom: '0px', width: '436px', height: '306px' }
          ];

          items.forEach((item, index) => {
            const styles = altDesktopLayout[index] || {};
            item.style.top = styles.top ?? 'auto';
            item.style.right = styles.right ?? 'auto';
            item.style.bottom = styles.bottom ?? 'auto';
            item.style.left = styles.left ?? 'auto';
            item.style.width = styles.width ?? '';
            item.style.height = styles.height ?? '';
            item.style.zIndex = index === 3 ? '8' : '';
          });
          return;
        }

        const mobileLayout = [
          { top: '34px', left: '10%', width: '350px', height: '316px' },
          { top: '20px', right: '5%', width: '234px', height: '298px' },
          { bottom: '90px', left: '0%', width: '350px', height: '232px' },
          { bottom: '-40px', right: '4%', width: '338px', height: '276px' }
        ];

        items.forEach((item, index) => {
          const styles = mobileLayout[index] || {};
          item.style.top = styles.top ?? 'auto';
          item.style.right = styles.right ?? 'auto';
          item.style.bottom = styles.bottom ?? 'auto';
          item.style.left = styles.left ?? 'auto';
          item.style.width = styles.width ?? '';
          item.style.height = styles.height ?? '';
        });
      };

      const sourcesA = [];
      const altsA = [];
      const sourcesB = [];
      const altsB = [];

      items.forEach((item) => {
        const image = item.querySelector('img');
        if (!image) return;
        sourcesA.push(image.dataset.imageA || image.getAttribute('src') || '');
        altsA.push(image.dataset.altA || image.getAttribute('alt') || '');
        sourcesB.push(image.dataset.imageB || '');
        altsB.push(image.dataset.altB || '');
      });

      if (prefersReducedMotion) return;
      if (!sourcesB.some(Boolean)) return;

      [...new Set(sourcesB.filter(Boolean))].forEach((source) => {
        const preloadImage = new Image();
        preloadImage.decoding = 'async';
        preloadImage.src = source;
      });

      collage.classList.add('is-intro');
      scheduleTimeout(() => collage.classList.add('is-intro-visible'), 60);
      scheduleTimeout(() => {
        collage.classList.remove('is-intro');
        collage.classList.remove('is-intro-visible');
      }, 1400);

      let showingAlt = false;
      let swapAnimating = false;

      const animateSwap = (showAlt) => {
        if (swapAnimating) return;
        swapAnimating = true;

        const fadeOutMs = 1800;
        const staggerMs = 150;
        const maxDelay = (items.length - 1) * staggerMs;
        const srcSwapAt = maxDelay + fadeOutMs + 40;
        const layoutAt = maxDelay + fadeOutMs + 20;
        const fadeInAt = srcSwapAt + 60;
        const doneAt = fadeInAt + maxDelay + 2200;

        items.forEach((item, index) => {
          scheduleTimeout(() => {
            item.style.opacity = '0';
            item.style.transform = 'scale(0.97)';
            item.style.filter = 'blur(7px)';
          }, index * staggerMs);
        });

        items.forEach((item, index) => {
          const image = item.querySelector('img');
          if (!image) return;
          const nextSource = showAlt ? sourcesB[index] : sourcesA[index];
          const nextAlt = showAlt ? altsB[index] : altsA[index];
          scheduleTimeout(() => {
            if (nextSource && image.getAttribute('src') !== nextSource) image.setAttribute('src', nextSource);
            image.setAttribute('alt', nextAlt || '');
          }, srcSwapAt);
        });

        scheduleTimeout(() => {
          if (showAlt) {
            applyAltLayout();
            collage.classList.add('is-alt');
          } else {
            items.forEach(resetItemPosition);
            collage.classList.remove('is-alt');
          }
        }, layoutAt);

        items.forEach((item, index) => {
          scheduleTimeout(() => {
            item.style.transition = 'none';
            item.style.opacity = '0';
            item.style.transform = 'translateY(14px) scale(0.97)';
            item.style.filter = 'blur(8px)';
            requestAnimationFrame(() => {
              requestAnimationFrame(() => {
                item.style.transition = '';
                item.style.opacity = '1';
                item.style.transform = 'none';
                item.style.filter = 'blur(0px)';
              });
            });
          }, fadeInAt + index * staggerMs);
        });

        scheduleTimeout(() => {
          swapAnimating = false;
        }, doneAt);
      };

      const start = () => {
        if (intervalId) return;
        intervalId = window.setInterval(() => {
          showingAlt = !showingAlt;
          animateSwap(showingAlt);
        }, intervalMs);
      };

      const stop = () => {
        if (!intervalId) return;
        window.clearInterval(intervalId);
        intervalId = null;
      };

      const updateScrollFade = () => {
        const viewportHeight = window.innerHeight || document.documentElement.clientHeight;
        const rect = section.getBoundingClientRect();
        const scrollY = window.scrollY || window.pageYOffset || 0;
        const isScrollingDown = scrollY > lastScrollY + 1;
        lastScrollY = scrollY;

        const fadeStart = 0;
        const fadeDistance = Math.max(rect.height * 0.75, viewportHeight * 0.5);
        const progress = Math.max(0, Math.min(1, (fadeStart - rect.top) / fadeDistance));

        items.forEach((item, index) => {
          if (!isScrollingDown) {
            item.style.setProperty('--scroll-fade-opacity', '1');
            return;
          }

          const stagger = index * 0.18;
          const normalized = Math.max(0, Math.min(1, (progress - stagger) / (1 - stagger)));
          const opacity = 1 - normalized;
          item.style.setProperty('--scroll-fade-opacity', opacity.toFixed(3));
        });
      };

      const observer = new IntersectionObserver(
        (entries) => {
          const entry = entries[0];
          if (!entry) return;
          if (entry.isIntersecting) start();
          else stop();
        },
        { threshold: 0.15 }
      );

      observer.observe(section);
      updateScrollFade();
      window.addEventListener('scroll', updateScrollFade, { passive: true });
      window.addEventListener('resize', updateScrollFade);

      window.addEventListener('beforeunload', () => {
        stop();
        observer.disconnect();
        clearAllTimeouts();
        window.removeEventListener('scroll', updateScrollFade);
        window.removeEventListener('resize', updateScrollFade);
      });
    };

    const initAll = (scope) => {
      const root = scope && scope.querySelectorAll ? scope : document;
      root.querySelectorAll('[data-section-type="slideshow-2-header"]').forEach(initSection);
    };

    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', () => initAll(document));
    } else {
      initAll(document);
    }

    document.addEventListener('shopify:section:load', (event) => initAll(event.target));
  })();
{% endjavascript %}

{% schema %}
{
  "name": "Slideshow 2 Header",
  "tag": "section",
  "class": "section-slideshow-2-header",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper--full",
      "options": [
        { "value": "wrapper--full", "label": "Full width" },
        { "value": "wrapper--full-padded", "label": "Full width padded" },
        { "value": "wrapper", "label": "Normal" }
      ]
    },
    {
      "type": "text",
      "id": "hero_eyebrow",
      "label": "Eyebrow",
      "default": "Since 1996"
    },
    {
      "type": "text",
      "id": "hero_title",
      "label": "Title",
      "default": "The Brand"
    },
    {
      "type": "checkbox",
      "id": "show_flower",
      "label": "Show flower behind text",
      "default": true
    },
    {
      "type": "range",
      "id": "interval_seconds",
      "min": 3,
      "max": 12,
      "step": 1,
      "unit": "s",
      "label": "Slide change interval",
      "default": 6
    },
    {
      "type": "header",
      "content": "Set 1"
    },
    { "type": "image_picker", "id": "hero_image_top", "label": "Image top" },
    { "type": "image_picker", "id": "hero_image_right", "label": "Image right" },
    { "type": "image_picker", "id": "hero_image_left", "label": "Image left" },
    { "type": "image_picker", "id": "hero_image_bottom", "label": "Image bottom" },
    {
      "type": "header",
      "content": "Set 2"
    },
    { "type": "image_picker", "id": "hero_image_top_alt", "label": "Image top (set 2)" },
    { "type": "image_picker", "id": "hero_image_right_alt", "label": "Image right (set 2)" },
    { "type": "image_picker", "id": "hero_image_left_alt", "label": "Image left (set 2)" },
    { "type": "image_picker", "id": "hero_image_bottom_alt", "label": "Image bottom (set 2)" },
    {
      "type": "header",
      "content": "Image fine tune"
    },
    {
      "type": "paragraph",
      "content": "Set 1 desktop"
    },
    { "type": "range", "id": "s1_top_x_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 top X", "default": 0 },
    { "type": "range", "id": "s1_top_y_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 top Y", "default": 0 },
    { "type": "range", "id": "s1_right_x_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 right X", "default": 0 },
    { "type": "range", "id": "s1_right_y_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 right Y", "default": 0 },
    { "type": "range", "id": "s1_left_x_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 left X", "default": 0 },
    { "type": "range", "id": "s1_left_y_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 left Y", "default": 0 },
    { "type": "range", "id": "s1_bottom_x_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 bottom X", "default": 0 },
    { "type": "range", "id": "s1_bottom_y_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 bottom Y", "default": 0 },
    {
      "type": "paragraph",
      "content": "Set 1 desktop scale"
    },
    { "type": "range", "id": "s1_top_scale_desktop", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 1 top scale", "default": 100 },
    { "type": "range", "id": "s1_right_scale_desktop", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 1 right scale", "default": 100 },
    { "type": "range", "id": "s1_left_scale_desktop", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 1 left scale", "default": 100 },
    { "type": "range", "id": "s1_bottom_scale_desktop", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 1 bottom scale", "default": 100 },
    {
      "type": "paragraph",
      "content": "Set 1 iPad"
    },
    { "type": "range", "id": "s1_top_x_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 top X iPad", "default": 0 },
    { "type": "range", "id": "s1_top_y_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 top Y iPad", "default": 0 },
    { "type": "range", "id": "s1_right_x_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 right X iPad", "default": 0 },
    { "type": "range", "id": "s1_right_y_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 right Y iPad", "default": 0 },
    { "type": "range", "id": "s1_left_x_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 left X iPad", "default": 0 },
    { "type": "range", "id": "s1_left_y_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 left Y iPad", "default": 0 },
    { "type": "range", "id": "s1_bottom_x_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 bottom X iPad", "default": 0 },
    { "type": "range", "id": "s1_bottom_y_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 bottom Y iPad", "default": 0 },
    {
      "type": "paragraph",
      "content": "Set 1 iPad scale"
    },
    { "type": "range", "id": "s1_top_scale_ipad", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 1 top scale iPad", "default": 100 },
    { "type": "range", "id": "s1_right_scale_ipad", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 1 right scale iPad", "default": 100 },
    { "type": "range", "id": "s1_left_scale_ipad", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 1 left scale iPad", "default": 100 },
    { "type": "range", "id": "s1_bottom_scale_ipad", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 1 bottom scale iPad", "default": 100 },
    {
      "type": "paragraph",
      "content": "Set 1 mobile"
    },
    { "type": "range", "id": "s1_top_x_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 top X mobile", "default": 0 },
    { "type": "range", "id": "s1_top_y_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 top Y mobile", "default": 0 },
    { "type": "range", "id": "s1_right_x_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 right X mobile", "default": 0 },
    { "type": "range", "id": "s1_right_y_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 right Y mobile", "default": 0 },
    { "type": "range", "id": "s1_left_x_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 left X mobile", "default": 0 },
    { "type": "range", "id": "s1_left_y_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 left Y mobile", "default": 0 },
    { "type": "range", "id": "s1_bottom_x_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 bottom X mobile", "default": 0 },
    { "type": "range", "id": "s1_bottom_y_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 1 bottom Y mobile", "default": 0 },
    {
      "type": "paragraph",
      "content": "Set 1 mobile scale"
    },
    { "type": "range", "id": "s1_top_scale_mobile", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 1 top scale mobile", "default": 100 },
    { "type": "range", "id": "s1_right_scale_mobile", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 1 right scale mobile", "default": 100 },
    { "type": "range", "id": "s1_left_scale_mobile", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 1 left scale mobile", "default": 100 },
    { "type": "range", "id": "s1_bottom_scale_mobile", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 1 bottom scale mobile", "default": 100 },
    {
      "type": "paragraph",
      "content": "Set 2 desktop"
    },
    { "type": "range", "id": "s2_top_x_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 top X", "default": 0 },
    { "type": "range", "id": "s2_top_y_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 top Y", "default": 0 },
    { "type": "range", "id": "s2_right_x_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 right X", "default": 0 },
    { "type": "range", "id": "s2_right_y_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 right Y", "default": 0 },
    { "type": "range", "id": "s2_left_x_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 left X", "default": 0 },
    { "type": "range", "id": "s2_left_y_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 left Y", "default": 0 },
    { "type": "range", "id": "s2_bottom_x_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 bottom X", "default": 0 },
    { "type": "range", "id": "s2_bottom_y_desktop", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 bottom Y", "default": 0 },
    {
      "type": "paragraph",
      "content": "Set 2 desktop scale"
    },
    { "type": "range", "id": "s2_top_scale_desktop", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 2 top scale", "default": 100 },
    { "type": "range", "id": "s2_right_scale_desktop", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 2 right scale", "default": 100 },
    { "type": "range", "id": "s2_left_scale_desktop", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 2 left scale", "default": 100 },
    { "type": "range", "id": "s2_bottom_scale_desktop", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 2 bottom scale", "default": 100 },
    {
      "type": "paragraph",
      "content": "Set 2 iPad"
    },
    { "type": "range", "id": "s2_top_x_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 top X iPad", "default": 0 },
    { "type": "range", "id": "s2_top_y_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 top Y iPad", "default": 0 },
    { "type": "range", "id": "s2_right_x_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 right X iPad", "default": 0 },
    { "type": "range", "id": "s2_right_y_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 right Y iPad", "default": 0 },
    { "type": "range", "id": "s2_left_x_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 left X iPad", "default": 0 },
    { "type": "range", "id": "s2_left_y_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 left Y iPad", "default": 0 },
    { "type": "range", "id": "s2_bottom_x_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 bottom X iPad", "default": 0 },
    { "type": "range", "id": "s2_bottom_y_ipad", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 bottom Y iPad", "default": 0 },
    {
      "type": "paragraph",
      "content": "Set 2 iPad scale"
    },
    { "type": "range", "id": "s2_top_scale_ipad", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 2 top scale iPad", "default": 100 },
    { "type": "range", "id": "s2_right_scale_ipad", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 2 right scale iPad", "default": 100 },
    { "type": "range", "id": "s2_left_scale_ipad", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 2 left scale iPad", "default": 100 },
    { "type": "range", "id": "s2_bottom_scale_ipad", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 2 bottom scale iPad", "default": 100 },
    {
      "type": "paragraph",
      "content": "Set 2 mobile"
    },
    { "type": "range", "id": "s2_top_x_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 top X mobile", "default": 0 },
    { "type": "range", "id": "s2_top_y_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 top Y mobile", "default": 0 },
    { "type": "range", "id": "s2_right_x_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 right X mobile", "default": 0 },
    { "type": "range", "id": "s2_right_y_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 right Y mobile", "default": 0 },
    { "type": "range", "id": "s2_left_x_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 left X mobile", "default": 0 },
    { "type": "range", "id": "s2_left_y_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 left Y mobile", "default": 0 },
    { "type": "range", "id": "s2_bottom_x_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 bottom X mobile", "default": 0 },
    { "type": "range", "id": "s2_bottom_y_mobile", "min": -300, "max": 300, "step": 6, "unit": "px", "label": "Set 2 bottom Y mobile", "default": 0 },
    {
      "type": "paragraph",
      "content": "Set 2 mobile scale"
    },
    { "type": "range", "id": "s2_top_scale_mobile", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 2 top scale mobile", "default": 100 },
    { "type": "range", "id": "s2_right_scale_mobile", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 2 right scale mobile", "default": 100 },
    { "type": "range", "id": "s2_left_scale_mobile", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 2 left scale mobile", "default": 100 },
    { "type": "range", "id": "s2_bottom_scale_mobile", "min": 70, "max": 150, "step": 1, "unit": "%", "label": "Set 2 bottom scale mobile", "default": 100 },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Slideshow 2 Header",
      "category": "Image"
    }
  ]
}
{% endschema %}
